# Customer Satisfaction Prediction by Santander (Kaggle) - Model By Debadri

### Importing & Cleaning Data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
train=pd.read_csv('puchotrain.csv')
train.head(1)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.17,0

In [4]:
test=pd.read_csv('puchotest.csv')
test.head(1)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,2,2,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40532.1

In [5]:
train.columns

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3',
       ...
       'saldo_medio_var33_hace2', 'saldo_medio_var33_hace3',
       'saldo_medio_var33_ult1', 'saldo_medio_var33_ult3',
       'saldo_medio_var44_hace2', 'saldo_medio_var44_hace3',
       'saldo_medio_var44_ult1', 'saldo_medio_var44_ult3', 'var38', 'TARGET'],
      dtype='object', length=371)

In [15]:
X_train=train.drop('TARGET',axis=1)
y_train=train['TARGET']

In [6]:
test.columns

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3',
       ...
       'saldo_medio_var29_ult3', 'saldo_medio_var33_hace2',
       'saldo_medio_var33_hace3', 'saldo_medio_var33_ult1',
       'saldo_medio_var33_ult3', 'saldo_medio_var44_hace2',
       'saldo_medio_var44_hace3', 'saldo_medio_var44_ult1',
       'saldo_medio_var44_ult3', 'var38'],
      dtype='object', length=370)

In [9]:
for i in train.columns:
    print(train[i].value_counts())

2047      1
17117     1
21215     1
109280    1
111331    1
129770    1
127723    1
119535    1
76528     1
68340     1
66293     1
90873     1
138255    1
82685     1
88830     1
86783     1
147795    1
23262     1
19164     1
33349     1
31450     1
33477     1
39622     1
150276    1
58057     1
64202     1
62155     1
51916     1
142032    1
139985    1
         ..
58678     1
38200     1
34106     1
36155     1
46396     1
44351     1
145559    1
95556     1
97605     1
93511     1
73033     1
54576     1
11567     1
15661     1
19747     1
113949    1
107806    1
109855    1
21792     1
23841     1
17698     1
29988     1
133265    1
150774    1
27943     1
5416      1
138537    1
1322      1
3371      1
131072    1
Name: ID, Length: 76020, dtype: int64
 2         74165
 8           138
-999999      116
 9           110
 3           108
 1           105
 13           98
 7            97
 4            86
 12           85
 6            82
 0            75
 10           72
 11           66
 5            63
 14           61
 15           34
 18           10
 16            9
 17            7
 23            7
 25            6
 142           6
 154           6
 20            6
 31            6
 38            6
 153           5
 24            5
 91            5
           ...
 225           1
 169           1
 41            1
 228           1
 101           1
 165           1
 229           1
 168           1
 108           1
 238           1
 184           1
 112           1
 76            1
 77            1
 205           1
 119           1
 79            1
 182           1
 181           1
 210           1
 40            1
 211           1
 84            1
 213           1
 178           1
 177           1
 87            1
 151           1
 215           1
 191           1
Name: var3, Length: 208, dtype: int64
23     20170
24      6232
25      4217
26      3270
27      2861
28      2173
31      1798
29      1727
30      1640
32      1592
36      1546
35      1536
34      1489
37      1401
38      1390
33      1377
39      1329
40      1310
41      1242
42      1199
43      1077
44      1042
45      1020
22       940
46       910
47       780
48       773
49       708
50       666
51       663
       ...
15        27
90        26
21        21
6         21
93        20
14        20
11        19
9         18
10        17
92        16
19        16
18        14
17        13
16        12
94        12
13        11
12        11
20         9
8          9
96         7
7          6
95         6
99         6
100        6
102        4
97         3
104        2
98         1
105        1
101        1
Name: var15, Length: 100, dtype: int64
0.00        72301
300.00        221
150.00        217
600.00        172
900.00        164
3.00          141
450.00        124
60.00         123
1500.00       119
90.00         112
30.00          97
1200.00        89
3000.00        76
120.00         74
15.00          65
750.00         61
180.00         56
1800.00        56
210.00         55
360.00         46
1050.00        42
240.00         42
75.00          31
2400.00        31
6000.00        29
420.00         29
2100.00        28
270.00         25
480.00         23
660.00         22
            ...
241.62          1
714.00          1
1.20            1
1845.00         1
483.00          1
18495.00        1
228.00          1
1413.00         1
1380.78         1
47040.00        1
132.30          1
414.00          1
2322.00         1
9300.00         1
1419.00         1
7725.00         1
112.50          1
38054.28        1
9900.00         1
26820.00        1
1227.00         1
232.50          1
2332.50         1
764.82          1
533.70          1
17595.15        1
84.00           1
168.75          1
139.68          1
540.66          1
Name: imp_ent_var16_ult1, Length: 596, dtype: int64
0.00       66075
30.00        120
60.00        100
15.00         56
90.00         48
45.00         36
4.50          36
120.00        32
150.00        32
2.67          29
300.00        29
3.00          22
59.97         20
180.00        19
105.00        18
29.97         18
36.00         17
9.00          17
29.85         17
2.97          16
89.85         16
75.00         15
18.00         14
24.00         12
42.00         12
27.00         11
59.85         11
135.00        10
89.97         10
14.97         10
           ...
150.06         1
509.55         1
354.99         1
1145.16        1
1573.62        1
816.03         1
653.91         1
842.52         1
24.15          1
80.40          1
736.80         1
2858.58        1
560.28         1
2270.88        1
195.36         1
1595.88        1
163.29         1
163.71         1
237.27         1
965.73         1
362.31         1
419.94         1
614.04         1
508.98         1
604.26         1
158.85         1
444.30         1
254.10         1
918.99         1
309.15         1
Name: imp_op_var39_comer_ult1, Length: 7551, dtype: int64
0.00       64330
30.00        161
60.00         91
4.50          72
15.00         60
90.00         53
45.00         36
150.00        35
120.00        31
2.67          31
3.00          30
300.00        27
2.97          23
180.00        22
75.00         21
9.00          20
59.97         18
36.00         18
29.97         17
89.97         16
29.85         16
18.00         16
105.00        15
21.00         13
89.85         13
84.00         12
27.00         12
42.00         12
59.85         11
24.00         11
           ...
939.78         1
1476.42        1
1220.67        1
2435.10        1
323.22         1
573.06         1
862.23         1
358.44         1
121.89         1
2717.07        1
252.33         1
382.77         1
1539.66        1
1990.20        1
1855.20        1
272.34         1
1855.35        1
2335.29        1
842.25         1
825.36         1
169.77         1
169.23         1
148.38         1
2425.92        1
1328.40        1
1233.60        1
1394.97        1
893.79         1
1368.69        1
491.28         1
Name: imp_op_var39_comer_ult3, Length: 9099, dtype: int64
0.00       75725
30.00          2
396.00         2
180.00         2
17.25          1
1436.19        1
1370.49        1
192.24         1
2521.86        1
47.70          1
635.70         1
299.82         1
315.33         1
1161.09        1
137.94         1
408.51         1
541.29         1
6300.69        1
1368.00        1
1224.87        1
1194.03        1
682.38         1
488.43         1
277.62         1
1775.10        1
468.12         1
388.20         1
2235.54        1
212.91         1
435.78         1
           ...
56.01          1
3542.40        1
291.51         1
990.75         1
347.79         1
194.70         1
769.53         1
572.91         1
140.55         1
684.69         1
2105.43        1
332.28         1
3977.22        1
350.46         1
688.47         1
131.46         1
2341.08        1
247.56         1
596.25         1
450.00         1
563.97         1
2061.45        1
129.54         1
3377.58        1
602.01         1
75.00          1
1107.03        1
299.88         1
2822.58        1
24.60          1
Name: imp_op_var40_comer_ult1, Length: 293, dtype: int64
0.00        75672
30.00           3
4.50            2
1775.10         1
4251.06         1
1370.49         1
956.73          1
192.24          1
2521.86         1
47.70           1
591.72          1
3217.29         1
635.70          1
315.33          1
137.94          1
1430.31         1
929.49          1
4060.89         1
160.65          1
1368.00         1
535.32          1
225.24          1
1992.63         1
34.50           1
993.81          1
17.25           1
1261.35         1
4184.43         1
311.97          1
521.40          1
            ...
1107.03         1
299.88          1
4738.17         1
2822.58         1
3977.22         1
1288.68         1
9133.98         1
65.85           1
877.32          1
48.45           1
1440.24         1
10351.95        1
2570.76         1
1050.87         1
449.97          1
1482.30         1
45.00           1
144.00          1
633.60          1
285.00          1
1347.03         1
350.46          1
131.46          1
2990.22         1
4520.76         1
17.94           1
1169.04         1
1489.89         1
596.25          1
1776.12         1
Name: imp_op_var40_comer_ult3, Length: 346, dtype: int64
0.00       75982
900.00         6
1800.00        4
600.00         3
60.00          3
270.00         2
120.00         2
450.00         2
300.00         2
74.28          1
1710.00        1
870.00         1
180.00         1
210.00         1
87.90          1
6600.00        1
150.00         1
930.00         1
750.00         1
1200.00        1
330.00         1
420.00         1
1020.00        1
Name: imp_op_var40_efect_ult1, dtype: int64
0.00       75975
900.00         6
1800.00        4
120.00         4
300.00         2
330.00         2
960.00         2
600.00         2
60.00          2
450.00         2
210.00         1
270.00         1
150.00         1
1621.26        1
3810.00        1
6600.00        1
1020.00        1
720.00         1
74.28          1
750.00         1
1200.00        1
306.69         1
870.00         1
1650.00        1
180.00         1
87.90          1
3000.00        1
420.00         1
1710.00        1
Name: imp_op_var40_efect_ult3, dtype: int64
0.00       75791
900.00         2
450.00         2
600.00         2
1800.00        2
567.00         2
270.00         2
277.62         1
1775.10        1
643.65         1
2521.86        1
956.73         1
281.76         1
1370.49        1
121.65         1
757.20         1
1749.63        1
701.52         1
1194.03        1
272.31         1
1585.86        1
559.38         1
435.78         1
521.40         1
311.97         1
359.04         1
150.00         1
468.12         1
319.17         1
1934.34        1
           ...
1630.59        1
24.60          1
350.46         1
17.94          1
6951.57        1
1302.93        1
57.09          1
291.51         1
3542.40        1
56.01          1
799.56         1
183.00         1
1642.59        1
3000.00        1
1288.68        1
1974.00        1
4583.76        1
129.54         1
299.88         1
1036.68        1
311.52         1
1991.64        1
2506.35        1
74.28          1
1197.00        1
877.32         1
768.30         1
679.86         1
255.24         1
4.26           1
Name: imp_op_var40_ult1, Length: 224, dtype: int64
0.00       66226
30.00        120
60.00        101
15.00         56
90.00         48
4.50          36
45.00         35
150.00        32
120.00        32
2.67          29
300.00        29
3.00          22
59.97         19
180.00        19
105.00        18
29.97         18
36.00         17
29.85         17
9.00          17
2.97          16
75.00         15
89.85         15
18.00         14
42.00         12
24.00         12
27.00         11
89.97         11
59.85         11
135.00        10
14.97         10
           ...
293.52         1
1309.32        1
326.67         1
508.98         1
614.04         1
419.94         1
842.52         1
329.28         1
115.68         1
461.46         1
874.32         1
186.42         1
430.38         1
285.00         1
464.82         1
1573.62        1
653.91         1
24.15          1
362.31         1
80.40          1
736.80         1
2858.58        1
560.28         1
195.36         1
1595.88        1
163.29         1
163.71         1
237.27         1
965.73         1
374.85         1
Name: imp_op_var41_comer_ult1, Length: 7421, dtype: int64
0.00       64480
30.00        161
60.00         91
4.50          72
15.00         60
90.00         53
45.00         36
150.00        35
2.67          31
120.00        31
3.00          30
300.00        27
2.97          23
180.00        22
75.00         21
9.00          20
36.00         18
29.97         17
59.97         17
89.97         16
29.85         16
18.00         16
105.00        15
21.00         13
42.00         12
27.00         12
89.85         12
84.00         12
24.00         11
59.85         11
           ...
635.10         1
122.25         1
3211.56        1
1145.34        1
670.44         1
327.33         1
326.67         1
149.22         1
427.56         1
480.78         1
1749.36        1
445.23         1
3455.04        1
150.06         1
1050.93        1
118.41         1
1520.40        1
238.14         1
1746.39        1
400.68         1
2329.92        1
284.67         1
160.05         1
2942.79        1
1896.69        1
1340.13        1
56.37          1
22.68          1
546.39         1
45.87          1
Name: imp_op_var41_comer_ult3, Length: 8961, dtype: int64
0.00        69336
60.00        1124
120.00        644
180.00        294
240.00        259
300.00        245
360.00        177
420.00        176
210.00        168
600.00        165
150.00        165
330.00        161
540.00        121
900.00        121
450.00        117
480.00        111
270.00        108
750.00         91
660.00         91
1200.00        81
1800.00        80
510.00         79
630.00         69
720.00         69
390.00         68
1500.00        65
780.00         63
570.00         55
960.00         55
690.00         51
            ...
539.10          1
354.00          1
582.00          1
3720.00         1
1995.42         1
1001.07         1
66.00           1
454.83          1
1943.79         1
37.86           1
576.00          1
9600.00         1
1231.95         1
45990.00        1
107.31          1
544.92          1
785.16          1
3870.00         1
9178.74         1
4710.00         1
612.21          1
673.08          1
5730.00         1
486.00          1
6750.00         1
4686.00         1
2022.39         1
554.58          1
2485.35         1
9000.00         1
Name: imp_op_var41_efect_ult1, Length: 331, dtype: int64
0.00        67372
60.00        1570
120.00        694
180.00        352
240.00        279
300.00        274
150.00        203
360.00        193
420.00        188
210.00        184
600.00        172
330.00        169
450.00        145
480.00        139
900.00        130
540.00        127
660.00        121
270.00        114
1200.00       104
750.00        101
390.00         91
1500.00        84
1800.00        81
510.00         79
570.00         76
810.00         75
780.00         75
960.00         72
630.00         72
720.00         67
            ...
1272.90         1
574.83          1
7590.00         1
11586.00        1
536.19          1
3925.32         1
4380.00         1
1357.47         1
696.00          1
726.00          1
12000.00        1
7980.00         1
3923.79         1
14400.00        1
11670.00        1
899.04          1
5490.00         1
3237.06         1
13110.00        1
1034.58         1
151.50          1
9630.00         1
6870.00         1
75.99           1
1206.00         1
628.35          1
27570.00        1
96.87           1
5550.00         1
8190.00         1
Name: imp_op_var41_efect_ult3, Length: 454, dtype: int64
0.00       64388
60.00        557
120.00       202
30.00        101
300.00        87
180.00        81
150.00        79
240.00        67
90.00         60
420.00        55
600.00        55
210.00        55
360.00        53
15.00         49
900.00        46
330.00        42
270.00        38
450.00        38
1800.00       35
480.00        32
540.00        32
1500.00       31
45.00         31
750.00        28
4.50          28
720.00        23
2.67          22
1200.00       22
390.00        20
660.00        19
           ...
2110.14        1
734.76         1
869.04         1
308.16         1
127.05         1
111.45         1
1341.63        1
1967.49        1
3824.43        1
1748.61        1
1188.78        1
1151.16        1
802.50         1
596.13         1
256.35         1
2183.94        1
1382.31        1
1144.59        1
888.15         1
1307.43        1
5392.62        1
1642.44        1
1403.34        1
1213.77        1
30.72          1
58.98          1
362.94         1
1026.90        1
281.94         1
1690.77        1
Name: imp_op_var41_ult1, Length: 8032, dtype: int64
0.00        69325
60.00        1125
120.00        643
180.00        294
240.00        259
300.00        247
420.00        177
360.00        177
210.00        168
600.00        166
150.00        165
330.00        159
900.00        124
540.00        121
450.00        117
480.00        111
270.00        108
750.00         93
660.00         91
1800.00        82
1200.00        82
510.00         79
720.00         70
630.00         68
390.00         68
1500.00        65
780.00         64
960.00         55
570.00         53
690.00         52
            ...
3720.00         1
3870.00         1
2485.35         1
554.58          1
500.91          1
1001.07         1
66.00           1
454.83          1
4920.00         1
1943.79         1
37.86           1
576.00          1
3390.00         1
9600.00         1
1231.95         1
45990.00        1
107.31          1
544.92          1
1995.42         1
785.16          1
9178.74         1
4710.00         1
612.21          1
673.08          1
5730.00         1
486.00          1
6750.00         1
4686.00         1
2022.39         1
354.00          1
Name: imp_op_var39_efect_ult1, Length: 336, dtype: int64
0.00        67360
60.00        1569
120.00        694
180.00        352
240.00        279
300.00        274
150.00        203
360.00        194
420.00        189
210.00        184
600.00        173
330.00        170
450.00        145
480.00        139
900.00        133
540.00        127
660.00        120
270.00        114
1200.00       104
750.00        101
390.00         91
1500.00        84
1800.00        83
510.00         78
780.00         77
570.00         76
810.00         74
960.00         73
630.00         71
720.00         68
            ...
7830.00         1
9720.00         1
7800.00         1
246.00          1
6810.00         1
574.83          1
11586.00        1
536.19          1
4380.00         1
72.00           1
9600.00         1
48000.00        1
612.21          1
2346.00         1
9390.00         1
394.17          1
6750.00         1
3375.75         1
486.00          1
673.08          1
9420.00         1
87.00           1
9178.74         1
785.16          1
583.74          1
1094.91         1
107.31          1
265.08          1
1231.95         1
7710.00         1
Name: imp_op_var39_efect_ult3, Length: 462, dtype: int64
0.00       64271
60.00        556
120.00       201
30.00        101
300.00        87
180.00        81
150.00        79
240.00        66
90.00         60
420.00        55
210.00        55
600.00        54
360.00        53
15.00         49
900.00        46
330.00        40
450.00        38
270.00        38
1800.00       36
540.00        32
480.00        32
45.00         32
1500.00       31
4.50          28
750.00        28
720.00        23
1200.00       22
2.67          22
390.00        20
660.00        19
           ...
58.98          1
30.72          1
1213.77        1
1403.34        1
1201.23        1
1314.12        1
926.94         1
65.73          1
710.73         1
155.25         1
500.91         1
309.09         1
869.04         1
127.05         1
111.45         1
1341.63        1
1967.49        1
3824.43        1
1748.61        1
1151.16        1
596.13         1
256.35         1
2183.94        1
1382.31        1
1144.59        1
888.15         1
1307.43        1
5392.62        1
1642.44        1
668.91         1
Name: imp_op_var39_ult1, Length: 8149, dtype: int64
0.00        75924
3000.00         9
1500.00         5
600.00          4
450.00          3
750.00          3
150.00          3
3600.00         2
3300.00         2
1620.00         2
45.00           2
300.00          2
12000.00        2
210.00          2
30.00           2
2100.00         2
6000.00         2
165.00          1
900.00          1
2244.00         1
15.00           1
360.00          1
1809.00         1
8850.00         1
390.00          1
120.00          1
99.00           1
6270.00         1
10500.00        1
1350.00         1
            ...
29250.00        1
1800.00         1
2550.00         1
4200.00         1
1650.00         1
3570.00         1
1020.00         1
907.14          1
60.00           1

0    76018
1        2
Name: ind_var29, dtype: int64
1    75677
0      343
Name: ind_var30_0, dtype: int64
1    55710
0    20310
Name: ind_var30, dtype: int64
0    75695
1      325
Name: ind_var31_0, dtype: int64
0    75741
1      279
Name: ind_var31, dtype: int64
0    75928
1       92
Name: ind_var32_cte, dtype: int64
0    75938
1       82
Name: ind_var32_0, dtype: int64
0    75938
1       82
Name: ind_var32, dtype: int64
0    75963
1       57
Name: ind_var33_0, dtype: int64
0    75972
1       48
Name: ind_var33, dtype: int64
0    76018
1        2
Name: ind_var34_0, dtype: int64
0    76018
1        2
Name: ind_var34, dtype: int64
0    70524
1     5496
Name: ind_var37_cte, dtype: int64
0    71059
1     4961
Name: ind_var37_0, dtype: int64
0    71059
1     4961
Name: ind_var37, dtype: int64
1    66955
0     9065
Name: ind_var39_0, dtype: int64
0    75152
1      868
Name: ind_var40_0, dtype: int64
0    75737
1      283
Name: ind_var40, dtype: int64
1    66843
0     9177
Name: ind_var41_0, dtype: int64
0    76020
Name: ind_var41, dtype: int64
0    75737
1      283
Name: ind_var39, dtype: int64
0    75877
1      143
Name: ind_var44_0, dtype: int64
0    75891
1      129
Name: ind_var44, dtype: int64
0    76020
Name: ind_var46_0, dtype: int64
0    76020
Name: ind_var46, dtype: int64
0    75149
3      869
6        2
Name: num_var1_0, dtype: int64
0    75734
3      285
6        1
Name: num_var1, dtype: int64
1    38147
0    19528
2    12692
3     4377
4     1031
5      203
6       36
7        6
Name: num_var4, dtype: int64
3     72336
0      3191
6       484
9         7
15        2
Name: num_var5_0, dtype: int64
3     50265
0     25561
6       190
9         3
15        1
Name: num_var5, dtype: int64
0    76012
3        8
Name: num_var6_0, dtype: int64
0    76018
3        2
Name: num_var6, dtype: int64
0    73524
3     2495
6        1
Name: num_var8_0, dtype: int64
0    73846
3     2174
Name: num_var8, dtype: int64
0      70887
3       4954
6        174
9          3
111        1
15         1
Name: num_var12_0, dtype: int64
0     72564
3      3418
6        37
15        1
Name: num_var12, dtype: int64
0     72048
3      3740
6       200
9        22
12        7
15        2
18        1
Name: num_var13_0, dtype: int64
0    72756
3     3226
6       38
Name: num_var13_corto_0, dtype: int64
0    72867
3     3151
6        2
Name: num_var13_corto, dtype: int64
0     75247
3       636
6       112
9        18
12        4
15        2
18        1
Name: num_var13_largo_0, dtype: int64
0     75260
3       652
6        93
9         9
12        3
15        2
18        1
Name: num_var13_largo, dtype: int64
0    76018
3        2
Name: num_var13_medio_0, dtype: int64
0    76018
3        2
Name: num_var13_medio, dtype: int64
0     72154
3      3712
6       135
9        12
12        4
15        2
18        1
Name: num_var13, dtype: int64
0      74222
3       1791
6          5
111        1
12         1
Name: num_var14_0, dtype: int64
0     75617
3       399
6         3
12        1
Name: num_var14, dtype: int64
0     75883
3        68
6        31
9        15
12       10
15        6
24        2
18        2
36        1
27        1
21        1
Name: num_var17_0, dtype: int64
0     75910
3        55
6        28
9        11
12        7
15        5
18        2
27        1
21        1
Name: num_var17, dtype: int64
0    76018
3        2
Name: num_var18_0, dtype: int64
0    76018
3        2
Name: num_var18, dtype: int64
0    75744
3      276
Name: num_var20_0, dtype: int64
0    75815
3      205
Name: num_var20, dtype: int64
0    72799
3     3208
6       12
9        1
Name: num_var24_0, dtype: int64
0    73140
3     2877
6        3
Name: num_var24, dtype: int64
0     74147
3      1574
6       240
9        42
12       12
15        2
33        1
27        1
21        1
Name: num_var26_0, dtype: int64
0     74147
3      1574
6       240
9        42
12       12
15        2
33        1
27        1
21        1
Name: num_var26, dtype: int64
0     74223
3      1525
6       216
9        40
12       11
15        2
33        1
27        1
21        1
Name: num_var25_0, dtype: int64
0     74223
3      1525
6       216
9        40
12       11
15        2
33        1
27        1
21        1
Name: num_var25, dtype: int64
0      75918
3         26
6         18
9         16
12        10
15         8
24         4
18         4
21         3
27         2
45         2
51         2
117        1
81         1
30         1
96         1
42         1
72         1
54         1
Name: num_op_var40_hace2, dtype: int64
0     76013
3         3
6         2
48        1
9         1
Name: num_op_var40_hace3, dtype: int64
0      75791
3         56
6         34
9         22
12        22
15        17
18        13
24        13
21         9
33         6
36         5
27         5
30         4
60         3
45         2
39         2
57         2
78         2
105        1
66         1
69         1
51         1
135        1
234        1
75         1
171        1
168        1
81         1
42         1
63         1
Name: num_op_var40_ult1, dtype: int64
0      75772
3         48
6         39
12        27
24        17
15        16
9         15
21        12
18         9
30         8
33         8
42         6
36         5
27         5
45         5
39         3
54         3
75         2
60         2
69         2
63         2
48         1
84         1
177        1
351        1
180        1
87         1
90         1
264        1
57         1
189        1
171        1
66         1
129        1
51         1
Name: num_op_var40_ult3, dtype: int64
0      67679
3       2617
6       1405
9        865
12       624
15       467
18       377
21       313
24       255
27       242
30       180
33       142
36       130
39       107
42        84
45        81
48        62
51        47
54        43
57        38
60        35
66        32
63        29
69        23
72        18
78        15
75        13
84        10
105       10
93         9
81         9
90         9
99         8
96         7
102        6
87         6
114        4
129        3
120        2
117        2
108        2
156        1
165        1
144        1
171        1
201        1
249        1
162        1
186        1
123        1
153        1
Name: num_op_var41_hace2, dtype: int64
0     75044
3       491
6       206
9       107
12       55
15       36
18       19
21       19
30       10
24        8
27        6
33        6
39        3
48        2
57        1
81        1
36        1
42        1
69        1
51        1
66        1
60        1
Name: num_op_var41_hace3, dtype: int64
0      64388
3       2929
6       1742
9       1090
12       811
15       733
18       619
21       503
24       400
27       365
30       315
33       272
36       214
39       204
42       162
45       157
48       146
51       120
54       112
57       102
60        94
66        65
63        56
69        51
72        51
75        36
81        35
87        27
78        25
84        24
       ...
138        7
120        6
114        6
150        6
132        4
123        4
126        3
135        3
117        3
186        2
159        2
129        2
147        2
210        2
162        2
222        2
156        2
468        1
204        1
141        1
144        1
168        1
270        1
171        1
213        1
174        1
240        1
177        1
192        1
216        1
Name: num_op_var41_ult1, Length: 68, dtype: int64
0      62355
3       3024
6       1816
9       1237
12       896
15       745
18       638
21       550
24       447
27       408
30       346
33       324
36       282
39       273
42       253
48       196
45       175
51       155
54       154
57       151
60       141
63       125
69       106
66       105
72        85
75        79
84        75
78        69
81        68
87        59
       ...
222        3
228        3
171        3
189        2
267        2
237        2
402        2
213        2
306        2
177        2
210        2
207        2
240        1
291        1
321        1
225        1
258        1
288        1
318        1
219        1
270        1
231        1
312        1
252        1
468        1
276        1
363        1
249        1
399        1
279        1
Name: num_op_var41_ult3, Length: 96, dtype: int64
0      67609
3       2629
6       1416
9        874
12       633
15       472
18       377
21       314
24       260
27       247
30       182
33       143
36       130
39       106
42        83
45        82
48        60
51        50
54        43
57        41
60        34
66        32
63        30
69        24
72        19
78        16
75        12
81        11
105       10
84        10
90         9
93         9
96         8
99         8
87         7
102        6
114        4
117        3
129        3
108        2
120        2
156        2
186        1
123        1
171        1
249        1
201        1
165        1
162        1
144        1
Name: num_op_var39_hace2, dtype: int64
0     75037
3       494
6       208
9       108
12       55
15       36
18       19
21       19
30       10
24        8
27        6
33        6
39        3
48        3
57        1
81        1
36        1
42        1
69        1
51        1
66        1
60        1
Name: num_op_var39_hace3, dtype: int64
0      64271
3       2948
6       1746
9       1096
12       821
15       734
18       632
21       505
24       414
27       369
30       321
33       285
36       215
39       205
42       163
45       159
48       142
51       122
54       110
60        99
57        98
66        66
63        58
69        52
72        52
75        35
81        33
78        30
87        29
84        26
       ...
138        6
123        4
150        4
168        3
117        3
162        3
132        3
147        3
156        2
126        2
159        2
153        2
186        2
213        2
171        2
129        2
210        2
234        1
246        1
222        1
204        1
141        1
270        1
180        1
225        1
468        1
177        1
216        1
174        1
144        1
Name: num_op_var39_ult1, Length: 71, dtype: int64
0      62244
3       3028
6       1827
9       1237
12       908
15       753
18       635
21       556
24       462
27       409
30       351
33       330
36       283
39       277
42       257
48       198
45       175
51       158
54       156
57       149
60       147
63       125
69       108
66       106
72        86
75        81
84        75
78        71
81        65
87        63
       ...
186        3
216        3
237        3
270        2
222        2
267        2
177        2
231        2
207        2
276        1
411        1
288        1
363        1
321        1
309        1
351        1
402        1
318        1
291        1
219        1
468        1
312        1
264        1
252        1
210        1
399        1
306        1
279        1
249        1
225        1
Name: num_op_var39_ult3, Length: 99, dtype: int64
0    76020
Name: num_var27_0, dtype: int64
0    76020
Name: num_var28_0, dtype: int64
0    76020
Name: num_var28, dtype: int64
0    76020
Name: num_var27, dtype: int64
0    76012
3        8
Name: num_var29_0, dtype: int64
0    76018
3        2
Name: num_var29, dtype: int64

3      68086
6       5657
9       1760
0        343
12       152
15        17
114        1
33         1
24         1
21         1
18         1
Name: num_var30_0, dtype: int64
3     51452
0     20310
6      3901
9       319
12       28
15        7
33        1
21        1
18        1
Name: num_var30, dtype: int64
0     75695
3       244
6        39
9        18
15        8
12        8
18        3
24        2
36        1
27        1
21        1
Name: num_var31_0, dtype: int64
0     75741
3       217
6        31
9        14
12        7
15        6
18        2
27        1
21        1
Name: num_var31, dtype: int64
0     75938
3        60
6        20
12        1
9         1
Name: num_var32_0, dtype: int64
0     75938
3        60
6        20
12        1
9         1
Name: num_var32, dtype: int64
0     75963
3        51
6         5
12        1
Name: num_var33_0, dtype: int64
0    75972
3       43
6        5
Name: num_var33, dtype: int64
0    76018
3        2
Name: num_var34_0, dtype: int64
0    76018
3        2
Name: num_var34, dtype: int64
3     37921
0     19528
6     12327
9      4570
12     1237
15      320
18       82
21       19
24        7
27        4
36        2
33        2
30        1
Name: num_var35, dtype: int64
0      72452
3       2132
6        758
9        324
12       141
15        89
18        43
21        32
27        12
24         9
33         7
30         7
36         6
69         1
57         1
51         1
39         1
105        1
45         1
48         1
90         1
Name: num_var37_med_ult2, dtype: int64
0      71059
3       2637
6       1083
9        523
12       307
15       136
18        98
21        53
30        30
27        25
24        23
36        13
33        13
39         6
42         4
45         3
54         2
72         1
63         1
111        1
114        1
90         1
Name: num_var37_0, dtype: int64
0      71059
3       2637
6       1083
9        523
12       307
15       136
18        98
21        53
30        30
27        25
24        23
36        13
33        13
39         6
42         4
45         3
54         2
72         1
63         1
111        1
114        1
90         1
Name: num_var37, dtype: int64
3     65013
0      9065
6      1817
9       111
12        9
15        2
33        1
21        1
18        1
Name: num_var39_0, dtype: int64
0    75152
3      867
6        1
Name: num_var40_0, dtype: int64
0    75737
3      283
Name: num_var40, dtype: int64
3     65398
0      9177
6      1359
9        75
12        6
15        2
33        1
21        1
18        1
Name: num_var41_0, dtype: int64
0    76020
Name: num_var41, dtype: int64
0    75737
3      283
Name: num_var39, dtype: int64
3      70242
6       5126
0        436
9        203
12         9
15         2
114        1
18         1
Name: num_var42_0, dtype: int64
3     52064
0     21908
6      2012
9        31
12        3
18        1
15        1
Name: num_var42, dtype: int64
0    75877
3      142
6        1
Name: num_var44_0, dtype: int64
0    75891
3      129
Name: num_var44, dtype: int64
0    76020
Name: num_var46_0, dtype: int64
0    76020
Name: num_var46, dtype: int64
0.00        75734
900.00          2
4035.00         2
2003.13         1
1592.64         1
478.26          1
1224.87         1
17.25           1
50.82           1
1370.49         1
1436.94         1
281.76          1
8192.61         1
192.24          1
47.70           1
643.65          1
15000.00        1
1267.68         1
1194.03         1
315.33          1
521.40          1
3017.82         1
544.50          1
277.62          1
468.12          1
722.64          1
311.97          1
435.78          1
634.59          1
59.97           1
            ...
17.94           1
2040.42         1
4287.48         1
96.90           1
877.32          1
579.24          1
1501.86         1
2061.45         1
2792.82         1
75.00           1
311.52          1
4834.71         1
258.15          1
1317.87         1
1195.74         1
92.88           1
90.00           1
449.97          1
1227.30         1
930.33          1
499.80          1
4588.38         1
743.10          1
199.80          1
6428.61         1
499.20          1
1876.56         1
2140.89         1
2582.76         1
740.91          1
Name: saldo_var1, Length: 285, dtype: int64
 0.00         25561
 3.00         18797
 90.00         5267
 30.00         1858
 15.00         1662
 6.00          1118
 150.00         924
 60.00          820
 300.00         470
 120.00         331
 93.00          199
 600.00         182
 9.00           171
 900.00         153
 450.00         131
 1500.00        119
 3000.00        116
 45.00          113
 12.00          111
 180.00         110
 153.00         108
 1.50            79
 0.30            74
 303.00          67
 33.00           64
 75.00           62
 63.00           59
 750.00          59
 18.00           57
 210.00          56
              ...
 1029.90          1
 426.81           1
 97.98            1
 11529.00         1
 265.53           1
 822.72           1
 172.32           1
 91.68            1
 3120.00          1
 2883.00          1
 464.07           1
 300030.00        1
 1174.29          1
 8737.26          1
 4605.36          1
 290.76           1
 5057.55          1
 236.82           1
 33.60            1
 1797.15          1
-35.13            1
 701.58           1
 18973.50         1
 8.07             1
 142.80           1
 53.94            1
 482.49           1
 1304.82          1
 924.69           1
 1579.05          1
Name: saldo_var5, Length: 11642, dtype: int64
0.0        76018
19531.8        1
11976.6        1
Name: saldo_var6, dtype: int64
 0.00        73846
 3.00           23
 30.00          15
 15.00          15
 150.00         11
 750.00         10
 1500.00        10
 60.00          10
 900.00          6
 300.00          6
 1530.00         5
 9.00            4
 1050.00         4
 1800.00         4
 753.00          4
 1560.00         3
 6.00            3
 1.50            3
 9.30            3
 1.14            3
 18.00           3
 210.00          3
 0.60            3
 5.10            2
 7.71            2
 0.06            2
 4.20            2
 23.94           2
 6.96            2
 0.42            2
             ...
 3000.03         1
 2919.21         1
 62.19           1
 28.80           1
 16008.87        1
 8582.04         1
 9784.14         1
 10223.40        1
 1439.04         1
 7156.95         1
 9512.58         1
 3217.56         1
 2293.20         1
 40.74           1
 2279.07         1
-95.70           1
 895.65          1
 513.30          1
 1608.03         1
 1611.78         1
 6003.81         1
 851.88          1
 720.12          1
 311.16          1
 1099.53         1
 10603.71        1
 1450.50         1
 1982.73         1
 1949.04         1
 2.91            1
Name: saldo_var8, Length: 1989, dtype: int64
0.00          72564
3000.00          10
3.00             10
150392.37         9
300.00            9
60000.00          8
30000.00          8
600.00            8
90000.00          7
300000.00         7
300385.68         7
300784.74         6
39000.00          6
1200.00           6
300.12            5
15000.00          5
105139.50         5
150192.84         5
75090.00          5
7500.00           5
96000.00          5
30.00             5
900.00            5
150.00            5
4500.00           5
90.06             4
1500.00           4
51000.00          4
33000.00          4
105000.00         4
              ...
900.30            1
25526.58          1
73651.26          1
408433.53         1
143461.68         1
2386.23           1
62741.82          1
2403.21           1
33179.55          1
36041.67          1
1576055.85        1
12388.80          1
57056.19          1
187963.56         1
344384.82         1
299209.74         1
1027215.57        1
46305.00          1
2702.31           1
270316.92         1
270312.42         1
9.63              1
9005.73           1
725.88            1
121193.34         1
0.48              1
149718.87         1
94089.03          1
3706.26           1
72086.40          1
Name: saldo_var12, Length: 3059, dtype: int64
0.00         72867
90000.00       144
30000.00       135
60000.00       130
150000.00      128
300000.00      117
45000.00        97
120000.00       92
180000.00       78
450000.00       78
75000.00        76
9000.00         62
18000.00        61
270000.00       51
105000.00       50
15000.00        47
210000.00       46
24000.00        42
3000.00         42
135000.00       41
240000.00       41
21000.00        39
36000.00        37
300.00          32
54000.00        30
12000.00        29
6000.00         29
27000.00        27
66000.00        26
225000.00       23
             ...
79947.87         1
298560.00        1
53700.00         1
298500.00        1
150779.94        1
36015.00         1
298200.00        1
123603.00        1
30900.00         1
36006.00         1
291821.43        1
107700.00        1
150300.00        1
124102.50        1
74608.53         1
183015.00        1
183003.00        1
150210.00        1
301209.81        1
431412.00        1
150150.00        1
25592.85         1
150060.00        1
75015.00         1
75006.00         1
150006.00        1
300003.00        1
45675.00         1
299823.00        1
294315.00        1
Name: saldo_var13_corto, Length: 730, dtype: int64
0.00         75260
75000.00        58
90000.00        53
150000.00       48
300000.00       46
120000.00       29
180000.00       28
36000.00        20
15000.00        17
30000.00        16
60000.00        15
105000.00       14
450000.00       13
18000.00        13
210000.00       11
225000.00       10
240000.00       10
270000.00        8
135000.00        8
42000.00         8
360000.00        8
45000.00         7
54000.00         7
27000.00         6
84000.00         6
24000.00         6
195000.00        6
201000.00        5
165000.00        5
39000.00         5
             ...
216000.00        1
291510.00        1
105630.00        1
145500.00        1
975000.00        1
276000.00        1
90300.00         1
74772.72         1
106800.00        1
40500.00         1
92040.00         1
75600.00         1
60188.67         1
557895.42        1
183600.00        1
54030.00         1
108006.00        1
75150.00         1
91503.00         1
62133.00         1
75045.00         1
182850.00        1
182646.00        1
74901.00         1
226021.74        1
91285.53         1
297183.00        1
297060.00        1
180900.00        1
90075.00         1
Name: saldo_var13_largo, Length: 229, dtype: int64
0        76018
30000        1
9000         1
Name: saldo_var13_medio, dtype: int64
0.00         72154
90000.00       190
150000.00      172
300000.00      159
30000.00       148
60000.00       143
75000.00       124
120000.00      119
180000.00      107
45000.00       104
450000.00       88
18000.00        70
105000.00       64
9000.00         62
15000.00        60
270000.00       58
210000.00       57
36000.00        56
240000.00       51
135000.00       48
24000.00        46
3000.00         44
21000.00        40
54000.00        36
27000.00        33
300.00          32
225000.00       32
6000.00         30
195000.00       30
84000.00        29
             ...
79947.87         1
298560.00        1
53700.00         1
298500.00        1
150779.94        1
36015.00         1
298200.00        1
45675.00         1
150006.00        1
75015.00         1
183003.00        1
216030.00        1
183180.00        1
117924.60        1
150303.00        1
150300.00        1
74608.53         1
183015.00        1
91503.00         1
62133.00         1
71100.00         1
150210.00        1
301209.81        1
431412.00        1
150150.00        1
25592.85         1
75045.00         1
182850.00        1
150060.00        1
89997.00         1
Name: saldo_var13, Length: 859, dtype: int64
0.00         75617
3000.00          8
3.00             7
600.00           7
1200.00          6
30.00            5
1500.00          4
300.00           4
900.00           4
450.00           4
7500.00          3
0.06             3
0.69             2
39000.00         2
150.03           2
75.03            2
3001.20          2
1800.00          2
15.00            2
60000.00         2
3001.26          2
8700.00          2
51000.00         2
6000.00          2
4500.00          2
300.06           2
6000.18          2
1200.30          1
1800.30          1
13950.54         1
             ...
1800.57          1
30004.98         1
62741.82         1
2.55             1
3405.96          1
30002.73         1
302.31           1
606.00           1
0.48             1
48028.56         1
129014.79        1
4710.66          1
1356.03          1
16332.15         1
10.32            1
3706.26          1
9.63             1
2702.31          1
5790.00          1
3390.33          1
50.46            1
60.03            1
2.46             1
20.37            1
3001.53          1
720.12           1
9095.28          1
6001.56          1
90367.44         1
8.28             1
Name: saldo_var14, Length: 345, dtype: int64
0.00         75910
34138.02         1
60851.22         1
14832.87         1
12162.81         1
7135.47          1
23685.33         1
95591.43         1
1792.05          1
6132.15          1
3006.24          1
47048.79         1
90374.76         1
7702.38          1
3402.69          1
606.33           1
9197.91          1
35859.93         1
62965.17         1
75995.16         1
113190.93        1
1727.94          1
524035.47        1
2363.19          1
19724.22         1
3087.24          1
36447.78         1
21653.49         1
4510.38          1
154204.05        1
             ...
149675.49        1
297719.52        1
3064.92          1
6112.44          1
30618.81         1
90370.14         1
64488.60         1
141250.68        1
19970.76         1
17905.29         1
120566.34        1
80802.21         1
45948.75         1
59105.70         1
4229.97          1
2178.06          1
27968.76         1
126744.12        1
89870.49         1
525742.20        1
36286.92         1
2900.04          1
156413.58        1
24236.22         1
263605.08        1
20141.61         1
59966.91         1
15658.14         1
22548.45         1
18690.18         1
Name: saldo_var17, Length: 111, dtype: int64
0          76018
3000000        1
300000         1
Name: saldo_var18, dtype: int64
0.00         75815
90.06            4
900.36           3
60.00            3
300.00           3
300.12           3
150.00           3
450.15           3
1800.63          2
600.24           2
1200.39          2
10201.32         2
360.09           2
17376.93         2
6.00             2
36012.69         2
750.30           2
3900.42          2
30040.11         2
52511.46         2
15.00            2
600.15           2
3376.08          2
3750.75          1
552.24           1
1500.54          1
1680.09          1
2100.90          1
1500.63          1
1350.00          1
             ...
1500.45          1
300.24           1
6036.57          1
735.27           1
455858.16        1
3630.81          1
1800.72          1
2760.69          1
927.84           1
300.03           1
8715.72          1
2430.27          1
2100.36          1
12003.12         1
1500.39          1
360.06           1
569.58           1
3076.20          1
60.03            1
33179.55         1
960.24           1
2850.27          1
75.03            1
900.30           1
2386.23          1
3996.66          1
5401.38          1
1440.00          1
141663.57        1
3150.30          1
Name: saldo_var20, Length: 176, dtype: int64
0.00         73140
150392.37        9
30000.00         8
300000.00        7
300385.68        7
90000.00         7
60000.00         6
300784.74        6
75090.00         5
15000.00         5
105139.50        5
96000.00         5
150192.84        5
120159.42        4
270000.00        4
78000.00         4
150199.26        4
60079.71         4
180470.85        4
120000.00        4
135000.00        4
66000.00         4
150000.00        4
105000.00        4
210549.36        4
30039.87         4
39000.00         4
33000.00         3
451177.14        3
30078.51         3
             ...
150326.37        1
85588.32         1
438581.88        1
135164.04        1
368988.00        1
220489.56        1
300006.00        1
270234.33        1
93494.22         1
1440.75          1
134547.96        1
57640.95         1
95458.29         1
52262.67         1
114136.80        1
84209.43         1
162356.01        1
356.76           1
138805.14        1
72192.66         1
38198.82         1
300.12           1
66081.90         1
25526.58         1
73651.26         1
408433.53        1
143461.68        1
75091.56         1
16542.60         1
36192.36         1
Name: saldo_var24, Length: 2614, dtype: int64
0.00        74147
1278.00       123
1065.00         9
761.64          9
2700.00         8
3000.00         8
1500.00         7
1745.73         7
724.20          6
1643.64         6
900.00          6
300.00          6
894.60          6
2400.00         5
1451.73         5
1898.70         5
1150.20         5
863.64          5
1800.00         5
761.07          4
255.60          4
1198.14         4
882.00          4
600.00          4
1643.07         4
468.60          4
298.20          4
210.00          3
750.00          3
863.73          3
            ...
2152.26         1
1557.57         1
1446.99         1
5421.63         1
2133.24         1
7848.75         1
5423.37         1
20692.35        1
6157.65         1
1343.88         1
2292.93         1
1745.64         1
3213.06         1
3942.96         1
2610.36         1
3203.94         1
5065.20         1
852.00          1
60.03           1
7364.52         1
3079.20         1
2276.82         1
2043.45         1
3104.64         1
1386.81         1
9119.28         1
1022.40         1
4728.66         1
2704.56         1
3305.73         1
Name: saldo_var26, Length: 1592, dtype: int64
0.00        74223
1278.00       123
761.64          9
1065.00         9
2700.00         8
3000.00         8
1500.00         7
1745.73         7
300.00          6
894.60          6
1643.64         6
724.20          6
900.00          6
1451.73         5
2400.00         5
863.64          5
1800.00         5
1150.20         5
255.60          4
468.60          4
761.07          4
1643.07         4
1198.14         4
882.00          4
600.00          4
298.20          4
210.00          3
863.73          3
639.00          3
750.00          3
            ...
3231.81         1
5734.41         1
2553.90         1
4191.03         1
1808.43         1
2492.22         1
2943.21         1
1039.65         1
5065.20         1
11186.97        1
852.00          1
6157.65         1
60.03           1
3079.20         1
2276.82         1
3104.64         1
1386.81         1
9119.28         1
1022.40         1
4728.66         1
2704.56         1
7364.52         1
5423.37         1
3613.80         1
7848.75         1
311.16          1
1786.17         1
1949.04         1
1384.56         1
2814.00         1
Name: saldo_var25, Length: 1524, dtype: int64
0    76020
Name: saldo_var28, dtype: int64
0    76020
Name: saldo_var27, dtype: int64
0.0        76018
19531.8        1
11976.6        1
Name: saldo_var29, dtype: int64
0.00         20310
3.00         18290
90.00         5236
30.00         1603
15.00         1477
6.00           926
150.00         823
60.00          686
300.00         400
120.00         305
93.00          196
9.00           153
600.00         149
900.00         137
450.00         115
153.00         104
45.00           97
180.00          96
1500.00         92
3000.00         91
12.00           84
1.50            73
90000.00        71
0.30            68
303.00          65
150000.00       65
300000.00       65
60000.00        61
30000.00        59
750.00          58
             ...
43794.12         1
2530.65          1
581.46           1
100649.43        1
257.85           1
900.30           1
2986.53          1
526.59           1
781.41           1
25526.58         1
1322.01          1
2121.24          1
572.58           1
9876.63          1
22650.00         1

0             76018
9999999999        2
Name: delta_imp_amort_var18_1y3, dtype: int64
0             76018
9999999999        2
Name: delta_imp_amort_var34_1y3, dtype: int64
 0.000000e+00    73948
-1.000000e+00     1675
 1.000000e+10      370
-5.000000e-01        2
-3.333333e-01        2
 4.000000e+00        2
-1.973684e-01        1
 1.222222e+00        1
 1.000000e+00        1
 1.538462e-01        1
-2.910826e-01        1
-4.995000e-01        1
-6.666667e-01        1
-3.494898e-01        1
-7.602877e-01        1
 4.000000e-01        1
 5.500000e+00        1
 1.605039e-01        1
 2.333092e+00        1
-8.333333e-01        1
-9.038462e-01        1
 1.777778e+00        1
 1.181818e+00        1
-8.000000e-01        1
 1.445714e+00        1
-1.000000e-01        1
-9.090909e-02        1
Name: delta_imp_aport_var13_1y3, dtype: int64
 0.000000e+00    75960
 1.000000e+10       39
-1.000000e+00       17
 1.500000e+00        1
 1.000055e+00        1
 6.853333e-01        1
-7.500000e-01        1
Name: delta_imp_aport_var17_1y3, dtype: int64
 0.000000e+00    75996
-1.000000e+00       17
-9.500000e-01        1
-9.404762e-01        1
 1.000000e+10        1
-7.000000e-01        1
-6.666667e-01        1
-9.160000e-01        1
-5.000000e-01        1
Name: delta_imp_aport_var33_1y3, dtype: int64
 0.000000e+00    75918
 1.000000e+10       70
-1.000000e+00       18
 2.650549e+00        1
 1.517507e-01        1
-9.684806e-01        1
 1.886204e+00        1
-9.340305e-01        1
-9.642354e-01        1
 3.336069e-01        1
-4.757389e-01        1
-9.787923e-01        1
-6.307265e-01        1
 2.562323e-02        1
 6.267608e+00        1
-9.503975e-01        1
 3.654278e+00        1
Name: delta_imp_compra_var44_1y3, dtype: int64
0             75982
9999999999       38
Name: delta_imp_reemb_var13_1y3, dtype: int64
 0             75999
 9999999999       20
-1                 1
Name: delta_imp_reemb_var17_1y3, dtype: int64
0             76019
9999999999        1
Name: delta_imp_reemb_var33_1y3, dtype: int64
 0             76014
 9999999999        4
-1                 2
Name: delta_imp_trasp_var17_in_1y3, dtype: int64
0             76016
9999999999        4
Name: delta_imp_trasp_var17_out_1y3, dtype: int64
 0             76009
-1                 6
 9999999999        5
Name: delta_imp_trasp_var33_in_1y3, dtype: int64
0             76019
9999999999        1
Name: delta_imp_trasp_var33_out_1y3, dtype: int64
 0.000000e+00    75975
 1.000000e+10       42
-5.057733e-01        1
 5.417098e+00        1
-1.000000e+00        1
Name: delta_imp_venta_var44_1y3, dtype: int64
 0.000000e+00    73970
-1.000000e+00     1675
 1.000000e+10      370
 1.000000e+00        3
-3.333333e-01        1
-5.000000e-01        1
Name: delta_num_aport_var13_1y3, dtype: int64
 0.000000e+00    75961
 1.000000e+10       39
-1.000000e+00       17
-3.333333e-01        1
 1.000000e+00        1
 2.000000e+00        1
Name: delta_num_aport_var17_1y3, dtype: int64
 0.000000e+00    76001
-1.000000e+00       17
 1.000000e+10        1
-5.000000e-01        1
Name: delta_num_aport_var33_1y3, dtype: int64
 0.000000e+00    75923
 1.000000e+10       70
-1.000000e+00       18
 1.000000e+00        3
 4.000000e+00        2
-3.333333e-01        1
 2.500000e+00        1
-6.666667e-01        1
 5.000000e-01        1
Name: delta_num_compra_var44_1y3, dtype: int64
0             75982
9999999999       38
Name: delta_num_reemb_var13_1y3, dtype: int64
 0             75999
 9999999999       20
-1                 1
Name: delta_num_reemb_var17_1y3, dtype: int64
0             76019
9999999999        1
Name: delta_num_reemb_var33_1y3, dtype: int64
 0             76014
 9999999999        4
-1                 2
Name: delta_num_trasp_var17_in_1y3, dtype: int64
0             76016
9999999999        4
Name: delta_num_trasp_var17_out_1y3, dtype: int64
 0             76009
-1                 6
 9999999999        5
Name: delta_num_trasp_var33_in_1y3, dtype: int64
0             76019
9999999999        1
Name: delta_num_trasp_var33_out_1y3, dtype: int64
 0.000000e+00    75975
 1.000000e+10       42
-1.000000e+00        1
-5.000000e-01        1
 8.000000e+00        1
Name: delta_num_venta_var44_1y3, dtype: int64
0    76020
Name: imp_amort_var18_hace3, dtype: int64
0.00        76018
1883.22         1
15691.80        1
Name: imp_amort_var18_ult1, dtype: int64
0    76020
Name: imp_amort_var34_hace3, dtype: int64
0.00       76018
276.24         1
1096.02        1
Name: imp_amort_var34_ult1, dtype: int64
0.00         74314
90000.00        84
150000.00       81
30000.00        68
300000.00       66
60000.00        65
75000.00        63
120000.00       60
180000.00       51
45000.00        51
450000.00       46
105000.00       36
18000.00        35
210000.00       32
9000.00         31
15000.00        25
135000.00       25
300.00          23
3000.00         22
240000.00       21
24000.00        20
270000.00       19
36000.00        19
21000.00        17
225000.00       15
27000.00        14
165000.00       12
84000.00        12
195000.00       12
78000.00        12
             ...
92700.00         1
534000.00        1
450.00           1
243000.00        1
11595.00         1
305727.00        1
750000.00        1
60188.67         1
117042.27        1
124102.50        1
183000.00        1
299823.00        1
45675.00         1
150003.00        1
124200.00        1
25592.85         1
431412.00        1
75090.00         1
62133.00         1
183003.00        1
124506.00        1
91503.00         1
74608.53         1
183180.00        1
108003.00        1
54003.00         1
54015.00         1
54030.00         1
124500.00        1
90075.00         1
Name: imp_aport_var13_hace3, Length: 425, dtype: int64
0.00         75619
90000.00        23
300000.00       17
150000.00       16
15000.00        13
75000.00        13
180000.00       13
36000.00        12
60000.00        11
120000.00       10
30000.00        10
18000.00         9
105000.00        7
6000.00          6
54000.00         6
3000.00          6
270000.00        5
126000.00        5
450000.00        5
45000.00         5
9000.00          4
12000.00         4
39000.00         4
195000.00        4
24000.00         4
210000.00        4
42000.00         3
111000.00        3
240000.00        3
84000.00         3
             ...
154253.82        1
36600.00         1
75300.00         1
292254.00        1
13500.00         1
210006.00        1
210765.00        1
88995.00         1
69000.00         1
105978.78        1
180300.00        1
123000.00        1
246000.00        1
6666.00          1
27006.00         1
360000.00        1
183000.00        1
182850.00        1
300006.00        1
107700.00        1
291821.43        1
18600.00         1
181500.00        1
297003.00        1
148500.00        1
361800.00        1
162000.00        1
85870.23         1
106800.00        1
147000.00        1
Name: imp_aport_var13_ult1, Length: 182, dtype: int64
0.00          75998
120000.00         2
30000.00          2
3000.00           2
4500.00           1
16500.00          1
1815.00           1
150000.00         1
6083691.87        1
60000.00          1
174000.00         1
45741.48          1
90000.36          1
90000.00          1
37500.00          1
22793.16          1
600.00            1
96781.44          1
255000.00         1
74998.92          1
Name: imp_aport_var17_hace3, dtype: int64
0.00         75976
30000.00         3
3000.00          2
600.00           1
7584.00          1
9000.00          1
60000.57         1
6129.90          1
8099.22          1
33000.90         1
120000.00        1
51000.00         1
45000.00         1
7500.00          1
1500.00          1
33008.28         1
35999.52         1
2069.79          1
66000.00         1
51927.15         1
2999.82          1
134507.67        1
60778.41         1
1803.03          1
267656.85        1
14356.26         1
300005.91        1
57546.87         1
9000.06          1
24000.00         1
4149.39          1
60036.09         1
12000.00         1
144302.34        1
30396.69         1
300.00           1
2877.00          1
150000.00        1
7383.60          1
11400.00         1
2250.00          1
432457.32        1
Name: imp_aport_var17_ult1, dtype: int64
0        75997
15000        4
1500         3
9000         2
18000        2
7500         2
12600        1
3000         1
6000         1
36000        1
22500        1
300          1
7530         1
4500         1
150          1
900          1
Name: imp_aport_var33_hace3, dtype: int64
0       76013
300         2
450         2
750         1
1260        1
150         1
Name: imp_aport_var33_ult1, dtype: int64
0.00         76017
18000.00         1
43500.00         1
145384.92        1
Name: imp_var7_emit_ult1, dtype: int64
0.00         75815
3000.00          3
90000.00         3
900.00           3
45000.00         3
75000.00         3
210000.00        3
270000.00        2
180000.00        2
30000.00         2
120000.00        2
6000.00          2
600.00           2
150000.00        2
60000.00         2
300000.00        2
2100.00          2
1415.94          1
89550.00         1
517.35           1
1456.47          1
2348.37          1
810.00           1
1737.93          1
1226.88          1
1050.00          1
61460.88         1
598.11           1
121035.03        1
48000.00         1
             ...
13500.00         1
183000.00        1
948.00           1
1177.74          1
1500.00          1
60.36            1
526.86           1
2883.00          1
42854.91         1
452.85           1
300.00           1
617400.00        1
29404.83         1
2369.46          1
3098.61          1
1384.41          1
186639.00        1
82.68            1
1177.71          1
1786.05          1
489.00           1
219000.00        1
2889.48          1
1125.00          1
363.00           1
213.00           1
1794.90          1
618.93           1
983.37           1
7352.10          1
Name: imp_var7_recib_ult1, Length: 184, dtype: int64
0.00         75988
17113.80         1
128874.51        1
15563.79         1
41801.64         1
7206.96          1
861.09           1
12669.00         1
10710.00         1
210001.35        1
3619.59          1
16159.20         1
10791.09         1
11327.76         1
5542.50          1
89400.00         1
36046.41         1
11618.40         1
27.30            1
10597.44         1
5585.13          1
102217.65        1
18203.52         1
2870.67          1
77796.00         1
19308.24         1
76070.04         1
6679.05          1
3019.50          1
57259.11         1
26434.17         1
13568.40         1
12644.10         1
Name: imp_compra_var44_hace3, dtype: int64
0.00         75936
3531.99          1
801.57           1
176.04           1
17298.51         1
75187.26         1
15034.41         1
56726.76         1
34273.98         1
32527.35         1
28065.12         1
450427.80        1
4757.76          1
23262.96         1
32930.73         1
73185.00         1
3501.60          1
29316.60         1
13381.50         1
5670.00          1
8972.10          1
17856.78         1
157.02           1
54059.70         1
28728.00         1
569.43           1
26490.51         1
82728.00         1
524833.62        1
35834.40         1
             ...
56662.50         1
3050.79          1
378549.99        1
32580.00         1
13600.86         1
99.66            1
21007.56         1
31383.45         1
165261.48        1
1495.02          1
1463.61          1
1052.91          1
119904.09        1
902.94           1
6743.25          1
87415.59         1
78019.20         1
84019.98         1
37800.00         1
167.61           1
21550.02         1
81044.70         1
764.46           1
114736.65        1
83500.65         1
3118.05          1
15752.88         1
11398.86         1
6294.12          1
19928.70         1
Name: imp_compra_var44_ult1, Length: 85, dtype: int64
0    76020
Name: imp_reemb_var13_hace3, dtype: int64
0.00         75982
90000.00         3
18000.00         3
6000.00          2
180000.00        2
85800.00         1
87900.00         1
15000.00         1
60000.00         1
96000.00         1
51000.00         1
72000.00         1
17160.00         1
21000.00         1
135000.00        1
66000.00         1
15120.00         1
115762.08        1
210000.00        1
228000.00        1
91200.00         1
12000.00         1
75000.00         1
270000.00        1
92283.00         1
23400.00         1
3000.00          1
30000.00         1
111000.00        1
450000.00        1
129000.00        1
162000.00        1
89997.00         1
Name: imp_reemb_var13_ult1, dtype: int64
0.00        76019
12027.15        1
Name: imp_reemb_var17_hace3, dtype: int64
0.00         76000
37035.75         2
3059.52          1
33008.28         1
3192.27          1
6098.28          1
69622.29         1
36000.00         1
30300.00         1
182132.97        1
763.62           1
7383.60          1
69620.10         1
26571.81         1
119234.67        1
30396.69         1
133926.27        1
4149.39          1
69599.01         1
56395.56         1
Name: imp_reemb_var17_ult1, dtype: int64
0    76020
Name: imp_reemb_var33_hace3, dtype: int64
0       76019
1200        1
Name: imp_reemb_var33_ult1, dtype: int64
0.00         70958
3000.00        117
300.00         114
1500.00        107
900.00          97
90.00           94
600.00          87
150.00          83
30.00           80
1200.00         74
1800.00         68
60.00           59
450.00          56
1350.00         44
1050.00         38
2400.00         36
2100.00         35
180.00          34
6000.00         34
750.00          33
120.00          33
3.00            30
1950.00         29
240.00          29
2250.00         28
9000.00         25
4500.00         24
45.00           23
15.00           22
2700.00         21
             ...
3798.00          1
6786.00          1
908.91           1
11.07            1
1778.70          1
3120.00          1
300006.00        1
23.22            1
31.80            1
4920.00          1
2904.27          1
562.08           1
212.25           1
347.61           1
2102.64          1
4799.04          1
705.00           1
2755.62          1
10875.00         1
4064.40          1
4086.00          1
75930.00         1
272.82           1
2886.00          1
1017.96          1
30600.00         1
264.00           1
2880.00          1
346.11           1
63.96            1
Name: imp_var43_emit_ult1, Length: 2342, dtype: int64
0.00         66190
300.00         408
600.00         320
1500.00        275
150.00         262
900.00         245
3000.00        233
1200.00        180
450.00         144
1800.00        143
60.00          136
750.00         107
90.00          105
6000.00         99
30.00           91
2400.00         80
180.00          71
4500.00         69
2100.00         65
1050.00         65
120.00          64
210.00          57
240.00          57
3600.00         52
2700.00         51
360.00          50
1350.00         49
9000.00         47
15000.00        43
3.00            41
             ...
1116.00          1
5276.28          1
2368.50          1
501.66           1
316.23           1
30.93            1
174000.00        1
541.44           1
959.67           1
802.11           1
849.00           1
1389.69          1
482.49           1
16554.60         1
4195.53          1
4920.00          1
738000.00        1
39.60            1
366.63           1
11.61            1
437.91           1
102.84           1
1224.00          1
5250.00          1
15.18            1
459885.90        1
829.08           1
1350.72          1
25.02            1
31750.38         1
Name: imp_trans_var37_ult1, Length: 3831, dtype: int64
0.00        76018
45741.48        1
96781.44        1
Name: imp_trasp_var17_in_hace3, dtype: int64
0.00         76016
14356.26         1
39927.15         1
133730.58        1
2999.82          1
Name: imp_trasp_var17_in_ult1, dtype: int64
0    76020
Name: imp_trasp_var17_out_hace3, dtype: int64
0.00        76016
3059.52         1
69599.01        1
69622.29        1
3192.27         1
Name: imp_trasp_var17_out_ult1, dtype: int64
0.00        76014
33079.83        1
44251.08        1
49581.27        1
25501.80        1
33744.48        1
25920.03        1
Name: imp_trasp_var33_in_hace3, dtype: int64
0.00        76015
2545.65         1
174.09          1
2596.53         1
5400.00         1
13207.32        1
Name: imp_trasp_var33_in_ult1, dtype: int64
0    76020
Name: imp_trasp_var33_out_hace3, dtype: int64
0       76019
3000        1
Name: imp_trasp_var33_out_ult1, dtype: int64
0.00         76017
23.16            1
209834.40        1
78040.59         1
Name: imp_venta_var44_hace3, dtype: int64
0.00          75976
361.14            1
33096.60          1
377.58            1
21952.50          1
2754476.46        1
21141.51          1
24617.70          1
7267.05           1
810.24            1
57378.03          1
17122.50          1
5292.00           1
450.99            1
8572.83           1
268548.00         1
3127.02           1
1296893.97        1
18412.53          1
38302.20          1
78.42             1
735.33            1
60361.20          1
16733.73          1
15541.26          1
159017.88         1
80808.00          1
103705.77         1
31363.26          1
448765.50         1
156492.69         1
89.37             1
941.19            1
117771.93         1
518.70            1
388.08            1
91107.69          1
3396.75           1
119974.41         1
18944.64          1
148.62            1
6595.29           1
21948.36          1
125480.49         1
31490.19          1
Name: imp_venta_var44_ult1, dtype: int64
0    76017
1        3
Name: ind_var7_emit_ult1, dtype: int64
0    75815
1      205
Name: ind_var7_recib_ult1, dtype: int64
0    69872
1     6148
Name: ind_var10_ult1, dtype: int64
0    69014
1     7006
Name: ind_var10cte_ult1, dtype: int64
0    68656
1     7364
Name: ind_var9_cte_ult1, dtype: int64
0    69489
1     6531
Name: ind_var9_ult1, dtype: int64
0    70958
1     5062
Name: ind_var43_emit_ult1, dtype: int64
0    66190
1     9830
Name: ind_var43_recib_ult1, dtype: int64

0        75152
900        236
1800       206
4500        96
3000        84
7200        62
3600        52
1500        31
6000        27
2700        26
9000        14
1200        12
5400         4
2400         3
18000        2
3300         2
4200         2
5100         2
2100         2
7500         1
6600         1
5700         1
10500        1
30000        1
Name: var21, dtype: int64
0    76020
Name: num_var2_0_ult1, dtype: int64
0    76020
Name: num_var2_ult1, dtype: int64
0     74314
3      1565
6        97
9        25
12       14
24        2
18        2
15        1
Name: num_aport_var13_hace3, dtype: int64
0     75619
3       373
6        17
9         6
12        3
30        1
24        1
Name: num_aport_var13_ult1, dtype: int64
0     75998
3        12
6         6
12        3
9         1
Name: num_aport_var17_hace3, dtype: int64
0     75976
3        23
6        12
12        3
9         3
21        1
18        1
15        1
Name: num_aport_var17_ult1, dtype: int64
0     75997
3        21
12        1
6         1
Name: num_aport_var33_hace3, dtype: int64
0    76013
3        6
6        1
Name: num_aport_var33_ult1, dtype: int64
0    76017
3        3
Name: num_var7_emit_ult1, dtype: int64
0     75815
3       166
6        30
9         5
12        3
24        1
Name: num_var7_recib_ult1, dtype: int64
0    75988
3       20
6        9
9        3
Name: num_compra_var44_hace3, dtype: int64
0     75936
3        46
6        18
9         6
24        4
15        3
12        3
18        2
39        1
21        1
Name: num_compra_var44_ult1, dtype: int64
0     72301
3      3043
6       483
9       115
12       47
15       12
18        7
21        4
30        3
27        2
60        1
45        1
24        1
Name: num_ent_var16_ult1, dtype: int64
0      60541
3       7455
6       3856
9       1916
12      1030
15       548
18       269
21       178
24        99
27        46
30        27
33        14
36        11
42         8
39         6
45         6
48         3
99         2
54         2
60         1
123        1
63         1
Name: num_var22_hace2, dtype: int64
0      61880
3       6934
6       3345
9       1669
12      1021
15       543
18       288
21       157
24        71
27        48
30        25
33        17
36         6
39         5
48         4
51         3
42         2
108        1
45         1
Name: num_var22_hace3, dtype: int64
0     67953
3      4832
6      1829
9       734
12      320
15      174
18       76
21       40
24       21
27       15
30        8
33        7
36        4
48        2
39        2
96        1
42        1
51        1
Name: num_var22_ult1, dtype: int64
0      49954
3       9176
6       5636
9       3758
12      2534
15      1689
18      1084
21       711
24       476
27       300
30       242
33       142
36        84
39        61
42        54
45        29
48        23
54        13
51        13
57         9
60         6
66         5
72         5
63         3
81         3
75         2
93         2
144        1
87         1
159        1
99         1
102        1
234        1
Name: num_var22_ult3, dtype: int64
0     64766
3      7981
6      2271
9       684
12      199
15       65
18       28
21        8
24        7
27        4
33        2
30        2
51        1
48        1
78        1
Name: num_med_var22_ult3, dtype: int64
0      51408
3       8258
6       4650
9       2951
12      2124
15      1473
18      1013
21       784
24       597
27       475
30       401
33       266
36       219
39       205
42       164
45       133
48       114
51        82
54        75
57        67
63        60
60        57
66        39
69        31
75        31
78        31
84        30
72        29
81        26
90        21
       ...
135        6
129        4
162        4
138        3
126        3
132        3
165        3
228        2
192        2
189        2
174        2
156        2
198        2
180        2
159        2
186        2
153        2
120        2
147        2
240        1
267        1
201        1
141        1
249        1
210        1
237        1
183        1
213        1
150        1
216        1
Name: num_med_var45_ult3, Length: 71, dtype: int64
3    42838
0    20546
2     9368
1     3268
Name: num_meses_var5_ult3, dtype: int64
0    73805
2      910
1      830
3      475
Name: num_meses_var8_ult3, dtype: int64
0    72537
2     1711
3     1282
1      490
Name: num_meses_var12_ult3, dtype: int64
0    72760
2     1596
3     1332
1      332
Name: num_meses_var13_corto_ult3, dtype: int64
0    75477
3      296
2      188
1       59
Name: num_meses_var13_largo_ult3, dtype: int64
0    76018
2        2
Name: num_meses_var13_medio_ult3, dtype: int64
0    75897
2       72
1       36
3       15
Name: num_meses_var17_ult3, dtype: int64
0    76015
2        3
1        2
Name: num_meses_var29_ult3, dtype: int64
0    75972
3       24
2       19
1        5
Name: num_meses_var33_ult3, dtype: int64
2    54536
1    10974
0    10164
3      346
Name: num_meses_var39_vig_ult3, dtype: int64
0    75877
2       67
1       45
3       31
Name: num_meses_var44_ult3, dtype: int64
0      66075
3       2641
6       1475
9       1036
12       781
15       677
18       553
21       422
24       346
27       308
30       259
33       195
36       166
42       143
39       129
45       109
48        99
51        84
54        65
57        63
60        48
63        47
66        38
72        31
69        28
75        24
78        21
81        21
87        14
102       12
       ...
99         8
108        8
90         7
120        7
114        5
135        4
111        4
123        3
117        3
132        2
138        2
195        2
141        2
171        2
105        2
150        2
159        2
126        2
162        2
183        1
207        1
186        1
180        1
177        1
261        1
174        1
189        1
228        1
129        1
438        1
Name: num_op_var39_comer_ult1, Length: 63, dtype: int64
0      64330
3       2645
6       1549
9       1125
12       818
15       679
18       594
21       499
24       411
27       351
30       316
33       285
36       237
39       205
42       190
45       164
48       155
54       144
51       133
57       104
60        85
66        80
63        77
69        69
72        59
78        54
87        50
75        44
84        43
81        41
       ...
165        3
234        3
210        3
204        3
174        3
228        2
186        2
201        2
285        2
216        2
423        1
315        1
360        1
192        1
264        1
225        1
279        1
393        1
330        1
267        1
222        1
438        1
207        1
399        1
336        1
282        1
309        1
345        1
600        1
303        1
Name: num_op_var39_comer_ult3, Length: 92, dtype: int64
0      75725
3         74
6         42
9         35
12        20
15        20
18        18
24        15
27        11
21        11
36         5
33         5
30         5
60         4
39         4
42         4
54         2
87         2
48         2
75         2
45         1
120        1
72         1
66         1
138        1
171        1
78         1
108        1
207        1
210        1
93         1
99         1
102        1
63         1
Name: num_op_var40_comer_ult1, dtype: int64
0      75672
3         71
6         48
9         30
12        22
15        21
18        16
24        14
21        12
27        11
36         9
30         8
33         8
48         7
45         7
60         7
39         4
63         4
42         4
54         3
78         3
57         3
84         3
51         3
108        3
87         3
198        2
174        2
99         2
582        1
186        1
69         1
123        1
72         1
393        1
102        1
210        1
309        1
207        1
180        1
105        1
177        1
90         1
156        1
234        1
96         1
222        1
Name: num_op_var40_comer_ult3, dtype: int64
0     75982
3        26
6         8
24        1
18        1
12        1
9         1
Name: num_op_var40_efect_ult1, dtype: int64
0     75975
3        25
6        12
24        2
9         2
21        1
18        1
15        1
12        1
Name: num_op_var40_efect_ult3, dtype: int64
0      66226
3       2621
6       1467
9       1030
12       776
15       660
18       543
21       416
24       334
27       294
30       253
33       188
36       166
42       142
39       131
45       111
48        94
51        86
54        68
57        61
63        43
60        42
66        36
72        25
75        25
69        24
78        20
81        20
87        14
102       11
84        10
108        8
96         8
90         7
99         7
93         7
114        5
120        5
135        3
123        3
105        3
126        2
162        2
141        2
132        2
111        2
195        2
150        2
117        2
129        1
261        1
189        1
171        1
186        1
183        1
438        1
156        1
177        1
174        1
159        1
Name: num_op_var41_comer_ult1, dtype: int64
0      64480
3       2641
6       1543
9       1125
12       813
15       671
18       588
21       492
24       404
27       347
30       309
33       283
36       231
39       197
42       182
45       160
48       156
51       136
54       136
57       101
60        80
66        77
63        73
69        69
72        58
78        53
75        45
87        44
84        42
81        38
       ...
198        4
159        4
177        4
204        3
219        2
201        2
174        2
210        2
264        1
195        1
186        1
192        1
330        1
309        1
267        1
399        1
336        1
273        1
438        1
279        1
345        1
282        1
285        1
228        1
165        1
423        1
360        1
234        1
303        1
216        1
Name: num_op_var41_comer_ult3, Length: 88, dtype: int64
0     69336
3      2797
6      1437
9       821
12      497
15      379
18      232
21      176
24      106
27       86
30       52
33       32
39       13
36       12
45        9
51        8
42        6
63        6
54        4
57        3
48        2
69        2
66        2
60        1
90        1
Name: num_op_var41_efect_ult1, dtype: int64
0      67372
3       3271
6       1604
9        973
12       661
15       472
18       375
21       262
24       238
27       170
30       127
33       103
36        88
39        66
42        46
45        37
48        26
51        24
57        18
54        13
60        13
63        11
72         9
66         8
69         5
84         4
75         4
96         3
78         3
93         2
87         2
117        2
120        1
156        1
114        1
90         1
105        1
102        1
99         1
108        1
Name: num_op_var41_efect_ult3, dtype: int64
0     69325
3      2800
6      1440
9       822
12      496
15      380
18      233
21      176
24      107
27       85
30       53
33       31
39       17
36       11
45        9
51        8
63        6
42        6
54        4
57        3
48        2
69        2
84        1
60        1
66        1
90        1
Name: num_op_var39_efect_ult1, dtype: int64
0      67360
3       3274
6       1608
9        975
12       662
15       470
18       374
21       264
24       237
27       171
30       127
33       103
36        85
39        70
42        46
45        35
48        27
51        24
57        19
54        13
60        13
63        12
72         9
66         8
84         5
69         5
75         4
96         3
87         3
93         2
78         2
117        2
120        1
156        1
114        1
90         1
105        1
102        1
99         1
108        1
Name: num_op_var39_efect_ult3, dtype: int64
0    76020
Name: num_reemb_var13_hace3, dtype: int64
0    75982
3       38
Name: num_reemb_var13_ult1, dtype: int64
0    76019
3        1
Name: num_reemb_var17_hace3, dtype: int64
0     76000
3        16
6         2
21        1
9         1
Name: num_reemb_var17_ult1, dtype: int64
0    76020
Name: num_reemb_var33_hace3, dtype: int64
0    76019
3        1
Name: num_reemb_var33_ult1, dtype: int64
0     75924
3        73
6        20
15        1
12        1
9         1
Name: num_sal_var16_ult1, dtype: int64
0      70958
3       2984
6       1071
9        457
12       223
15       108
18        66
21        45
24        24
27        22
33        16
30         9
36         7
45         6
42         5
39         3
51         3
60         3
57         2
102        1
84         1
48         1
75         1
180        1
69         1
54         1
66         1
Name: num_var43_emit_ult1, dtype: int64
0      66190
3       5412
6       2416
9        879
12       409
15       216
18       145
21        97
24        60
27        32
33        24
30        24
36        21
39        20
45         9
51         8
48         8
63         6
54         6
42         6
66         3
69         3
84         3
93         3
150        2
90         2
78         2
57         2
60         2
102        2
108        1
126        1
75         1
159        1
264        1
72         1
96         1
105        1
Name: num_var43_recib_ult1, dtype: int64
0     74384
3      1027
6       314
9       143
12       55
15       32
18       17
21       10
24        9
30        9
27        7
39        3
42        3
45        2
33        2
93        1
36        1
63        1
Name: num_trasp_var11_ult1, dtype: int64
0    76018
6        1
3        1
Name: num_trasp_var17_in_hace3, dtype: int64
0    76016
3        4
Name: num_trasp_var17_in_ult1, dtype: int64
0    76020
Name: num_trasp_var17_out_hace3, dtype: int64
0    76016
3        4
Name: num_trasp_var17_out_ult1, dtype: int64
0    76014
3        6
Name: num_trasp_var33_in_hace3, dtype: int64
0    76015
3        4
6        1
Name: num_trasp_var33_in_ult1, dtype: int64
0    76020
Name: num_trasp_var33_out_hace3, dtype: int64
0    76019
3        1
Name: num_trasp_var33_out_ult1, dtype: int64
0    76017
3        2
6        1
Name: num_venta_var44_hace3, dtype: int64
0     75976
3        24
6         7
9         4
12        3
27        2
21        2
39        1
15        1
Name: num_venta_var44_ult1, dtype: int64
0      48881
3       8276
6       4667
9       3112
12      2264
15      1622
18      1210
21       993
24       805
27       570
30       518
33       421
36       337
39       300
42       253
45       237
48       171
51       135
54       117
57       106
63        91
66        85
69        73
60        72
78        58
72        52
75        49
81        41
84        38
87        36
       ...
201        4
141        4
165        4
177        4
240        3
288        3
171        3
210        3
213        3
264        3
207        2
183        2
153        2
258        2
219        2
198        2
180        2
261        2
204        1
225        1
294        1
189        1
195        1
243        1
252        1
186        1
270        1
237        1
342        1
255        1
Name: num_var45_hace2, Length: 85, dtype: int64
0      50663
3       9493
6       4745
9       2872
12      1887
15      1351
18      1000
21       722
24       564
27       505
30       372
33       290
36       237
39       176
42       163
45       127
48       107
54        93
51        83
57        81
60        67
63        50
66        41
72        36
69        32
78        31
75        20
84        20
87        17
81        17
       ...
96         8
111        7
126        7
105        7
132        6
117        5
129        4
123        4
135        4
144        4
120        3
141        2
159        2
147        2
168        2
165        2
153        2
138        2
195        1
255        1
330        1
333        1
339        1
213        1
171        1
174        1
177        1
180        1
252        1
156        1
Name: num_var45_hace3, Length: 66, dtype: int64
0      54392
3       6983
6       3924
9       2446
12      1653
15      1204
18       855
21       730
24       518
27       443
30       379
33       319
36       244
39       201
42       176
45       147
51       126
48       124
57        99
63        82
60        80
54        77
66        60
72        57
69        52
75        47
84        42
78        40
81        39
93        33
       ...
186        2
195        2
189        2
192        2
183        2
231        2
210        2
228        2
168        2
213        2
204        1
261        1
483        1
321        1
510        1
417        1
225        1
222        1
237        1
279        1
282        1
270        1
240        1
264        1
144        1
393        1
207        1
375        1
267        1
255        1
Name: num_var45_ult1, Length: 94, dtype: int64
0      38356
3       8201
6       4851
9       3438
12      2600
15      2220
18      1853
21      1481
24      1316
27      1104
30      1007
33       840
36       780
39       699
42       645
45       528
48       509
51       436
54       370
57       336
60       307
63       280
66       267
69       237
72       218
75       196
78       183
81       175
84       157
87       143
       ...
720        1
309        1
684        1
801        1
483        1
420        1
549        1
486        1
603        1
411        1
360        1
474        1
426        1
747        1
597        1
468        1
522        1
366        1
594        1
402        1
465        1
495        1
528        1
399        1
498        1
396        1
690        1
651        1
459        1
477        1
Name: num_var45_ult3, Length: 172, dtype: int64
0    76020
Name: saldo_var2_ult1, dtype: int64
0.00       23241
3.00       18220
90.00       5697
15.00       1513
30.00       1377
6.00         851
150.00       839
60.00        650
300.00       373
120.00       278
2.76         159
9.00         128
2.88         121
600.00       114
450.00       113
93.00         89
2.67          79
900.00        75
12.00         75
1.50          69
1500.00       66
0.30          63
45.00         60
3000.00       59
180.00        56
0.21          50
2.85          45
2.55          43
80.70         43
29.04         42
           ...
365.37         1
122.31         1
57.51          1
1901.19        1
554.28         1
487.50         1
437.16         1
516.48         1
2820.00        1
9648.09        1
1704.24        1
5355.27        1
1173.54        1
909.66         1
6090.93        1
33.84          1
1776.45        1
41.16          1
290.76         1
695.22         1
212.25         1
236.82         1
2297.43        1
1029.15        1
4784.04        1
120.30         1
1523.70        1
7838.73        1
61.20          1
107.22         1

Name: saldo_medio_var5_hace2, Length: 14486, dtype: int64
0.00         29637
0.09           992
0.18           875
0.99           741
2.61           703
0.27           629
2.55           600
2.40           583
0.51           576
1.05           564
8.70           525
0.87           519
1.59           515
1.74           462
1.83           458
2.31           457
2.91           448
0.39           421
0.42           420
2.13           405
1.95           398
0.48           387
0.72           387
2.52           382
0.21           373
1.44           358
2.67           355
2.22           352
2.43           343
29.04          341
             ...
301.74           1
969.63           1
461.40           1
57.39            1
45572.82         1
1195.29          1
770.01           1
340.02           1
289.56           1
153002.37        1
71.91            1
407.64           1
18355.02         1
39407.40         1
357.81           1
14.76            1
136.26           1
4725.00          1
4703.46          1
630.18           1
16272.39         1
615.60           1
117001.98        1
1827.93          1
6642.87          1
10452.96         1
26566.23         1
8711.97          1
15436.59         1
233.34           1
Name: saldo_medio_var5_hace3, Length: 7787, dtype: int64
0.00        24664
3.00        18596
90.00        5187
30.00        1563
15.00        1542
6.00         1021
150.00        799
60.00         693
300.00        375
120.00        278
93.00         153
9.00          149
600.00        119
450.00         99
900.00         92
12.00          89
45.00          80
153.00         76
3000.00        71
1.50           70
0.30           69
1500.00        67
180.00         61
18.00          44
0.60           43
33.00          40
75.00          38
210.00         36
1200.00        35
303.00         35
            ...
3127.89         1
593.25          1
27859.53        1
4485.99         1
360.75          1
401.43          1
772.05          1
3191.01         1
1695.96         1
16517.85        1
1851.63         1
1777.20         1
508.98          1
1391.19         1
23189.34        1
137.25          1
6330.48         1
724.62          1
327.00          1
363.69          1
237.27          1
72665.16        1
393.03          1
1975.23         1
12.18           1
475.86          1
140.07          1
1602.78         1
52240.92        1
245.64          1
Name: saldo_medio_var5_ult1, Length: 14778, dtype: int64
0.00        24664
2.88         1104
2.34         1002
2.85          985
2.07          949
2.79          866
2.04          864
2.10          811
2.28          791
2.61          749
2.16          676
2.25          640
2.13          627
2.40          620
2.55          563
2.58          517
3.00          501
2.52          497
2.22          488
2.73          477
2.70          442
2.49          427
2.76          420
2.94          420
2.64          412
2.82          403
2.43          386
62.91         368
2.37          346
60.96         322
            ...
2589.51         1
15291.24        1
6119.82         1
83.85           1
93.39           1
395.58          1
3374.25         1
440.16          1
1295.88         1
3983.34         1
203.43          1
138.57          1
216.18          1
2017.89         1
357.75          1
1013.82         1
2798.31         1
102.51          1
6771.21         1
582.51          1
1660.32         1
2873.73         1
2358.27         1
27625.11        1
7633.56         1
752.07          1
3612.51         1
2950.35         1
51877.17        1
27381.72        1
Name: saldo_medio_var5_ult3, Length: 17330, dtype: int64
0.00        74628
3.00           16
30.00          13
15.00          12
60.00           9
6.00            4
150.00          4
11.37           2
51.96           2
2.49            2
826.71          2
35.37           2
750.00          2
2.67            2
43.14           2
753.00          2
120.00          2
300.00          2
155.79          2
46.44           2
90.00           2
36.00           2
51.54           2
1.17            1
1236.12         1
1107.00         1
94.77           1
3083.34         1
587.28          1
10253.10        1
            ...
3000.78         1
3000.03         1
261.42          1
2430.96         1
636.60          1
2310.42         1
5806.50         1
2274.57         1
2150.01         1
637.35          1
1272.42         1
1789.05         1
3561.90         1
980.13          1
702.33          1
1598.88         1
454.17          1
181.47          1
15.63           1
12214.86        1
1794.15         1
565.53          1
6549.99         1
726.87          1
1402.59         1
919.56          1
45.18           1
187.17          1
53.61           1
2080.41         1
Name: saldo_medio_var8_hace2, Length: 1325, dtype: int64
0.00        75536
0.99            6
0.18            4
0.30            4
1.05            3
0.54            3
1.59            3
0.51            3
49.98           2
4.14            2
106.44          2
12.00           2
0.78            2
8.28            2
17.43           2
2.88            2
218.13          2
5.79            2
32.13           2
4.05            2
43.53           2
10.35           2
0.96            2
19.98           2
128.40          2
116.13          2
14.01           2
50.31           2
2.13            2
5.22            2
            ...
196.11          1
32.01           1
1341.12         1
1075.38         1
40.74           1
233.16          1
30.93           1
554.97          1
1091.16         1
46.08           1
967.74          1
1999.20         1
9.87            1
183.87          1
4684.29         1
45.00           1
18.66           1
1094.97         1
1.80            1
73362.24        1
391.92          1
7.95            1
4.23            1
218.58          1
1.92            1
38.73           1
1488.39         1
769.20          1
195.21          1
18217.41        1
Name: saldo_medio_var8_hace3, Length: 439, dtype: int64
0.00        73821
3.00           22
15.00          13
60.00          10
30.00          10
150.00          7
300.00          4
900.00          3
750.00          3
1652.07         2
2124.81         2
431.91          2
801.57          2
2200.74         2
0.96            2
9.00            2
1305.00         2
6051.99         2
1384.50         2
1302.81         2
419.49          2
102.54          2
753.00          2
120.00          2
401.79          2
1500.00         2
180.00          2
775.38          2
6.00            2
482.61          1
            ...
1892.94         1
5693.34         1
534.51          1
1703.25         1
1380.06         1
573.42          1
8216.55         1
22.59           1
6863.58         1
187.83          1
187.17          1
247.56          1
4770.00         1
25.23           1
9104.28         1
1962.75         1
1274.70         1
1698.99         1
1907.91         1
1022.40         1
1187.49         1
904.41          1
907.59          1
902.70          1
3963.96         1
563.22          1
396.72          1
17113.17        1
40.05           1
29.52           1
Name: saldo_medio_var8_ult1, Length: 2116, dtype: int64
0.00        73821
3.00            6
13.20           3
2.34            2
6497.64         2
2.70            2
2.85            2
1051.56         2
1416.36         2
139.53          2
99.15           2
837.78          2
1.92            2
0.96            2
764.55          2
15.00           2
304.23          2
47.16           2
537.90          2
1080.63         2
145.20          2
2.52            2
38.43           2
1659.21         1
1881.99         1
1542.30         1
3947.19         1
3784.08         1
200.94          1
186.39          1
            ...
14596.71        1
655.41          1
12.39           1
1899.69         1
3985.41         1
1397.34         1
8216.55         1
22.59           1
187.83          1
61.89           1
144.12          1
40.74           1
1990.08         1
1531.20         1
1549.65         1
140.94          1
676.14          1
907.59          1
3963.96         1
16380.90        1
563.22          1
396.72          1
3822.93         1
3737.19         1
40.05           1
1806.15         1
955.17          1
6828.75         1
2557.35         1
888.18          1
Name: saldo_medio_var8_ult3, Length: 2173, dtype: int64
0.00         73024
150000.00        6
180000.00        6
60.00            5
36000.00         5
45000.00         5
30000.00         5
90000.00         4
15.00            4
580.65           4
30.00            4
90.00            4
3.00             4
12000.00         4
0.09             4
20.01            3
14000.01         3
2000.01          3
3000.21          3
1200.00          3
0.51             3
81290.31         3
76499.97         3
600.12           3
26129.04         3
180.00           3
1500.00          3
15483.87         3
30967.74         3
300.00           3
             ...
270290.58        1
300000.00        1
90690.69         1
77126.97         1
81444.00         1
5057.43          1
43064.49         1
25212.42         1
97504.05         1
23886.99         1
110100.03        1
316.05           1
1083.63          1
375016.62        1
45006.63         1
22502.94         1
2980.47          1
55999.98         1
64064.52         1
132320.55        1
98935.65         1
75089.31         1
45050.13         1
67334.52         1
134649.96        1
1140.00          1
197805.30        1
56129.04         1
197448.45        1
120549.99        1
Name: saldo_medio_var12_hace2, Length: 2834, dtype: int64
0.00         74734
11612.91         7
580.65           5
1935.48          5
7741.92          5
38709.69         4
5000.01          4
29032.26         4
10714.29         4
8709.69          4
0.09             4
17419.38         3
348.39           3
45.03            3
15000.03         3
20000.01         3
2903.22          3
0.51             3
3483.87          3
774.21           3
4354.83          3
60000.00         3
51724.14         3
9677.43          3
3000.00          3
72580.65         3
999.99           3
6967.74          3
309.66           2
5806.44          2
             ...
27150.00         1
6081.93          1
1241.40          1
103448.28        1
62.07            1
1965.51          1
246787.38        1
40645.14         1
21774.15         1
360.00           1
756.57           1
3483.90          1
1999.92          1
140029.98        1
69999.99         1
32501.01         1
7800.00          1
8709.72          1
6290.28          1
6096.75          1
5499.99          1
156774.15        1
435.48           1
15971.61         1
94838.70         1
4378.14          1
12931.02         1
46452.78         1
130345.50        1
6350.01          1
Name: saldo_medio_var12_hace3, Length: 1152, dtype: int64
0.00         72544
3.00             8
90.03            4
300.00           4
30.00            4
75.00            3
60.03            3
30.03            3
30017.40         2
75000.00         2
0.18             2
99.99            2
30800.01         2
1999.98          2
6004.50          2
3900.87          2
3332.97          2
15.03            2
15.00            2
17375.04         2
10200.51         2
240000.00        2
52505.07         2
150.06           2
30039.87         2
18000.00         2
3260.22          2
150211.74        2
60061.14         2
3000.81          2
             ...
620.43           1
16652.37         1
3900.33          1
1501.89          1
210011.43        1
48058.02         1
132160.20        1
103232.67        1
22963.14         1
66071.85         1
285.54           1
12012.63         1
156060.24        1
12011.88         1
231786.54        1
112466.04        1
16502.10         1
78040.62         1
18035.79         1
38087.43         1
528814.05        1
462636.15        1
1640.31          1
39069.81         1
21193.92         1
564.03           1
404584.47        1
250019.97        1
33264.30         1
360777.75        1
Name: saldo_medio_var12_ult1, Length: 3405, dtype: int64
0.00         72544
75.03            3
2.04             2
8709.69          2
1999.98          2
29.04            2
53823.69         2
17600.01         2
1968.84          2
3900.87          2
18733.47         2
69.99            2
25177.77         2
40252.74         2
2918.25          2
1.95             2
5264.79          2
43548.39         2
11968.11         2
1584.12          2
23475.66         2
1080.00          2
51319.05         2
42.60            2
20658.45         2
87.09            2
1.77             2
3.09             2
13.98            2
200.01           2
             ...
65784.60         1
8759.49          1
9050.52          1
383460.66        1
551.61           1
94025.22         1
738.54           1
75818.61         1
28696.35         1
82847.85         1
2799.93          1
57159.69         1
284.04           1
2999.22          1
262133.40        1
40794.69         1
898781.07        1
191889.33        1
24063.99         1
152844.75        1
1700.01          1
52882.38         1
10261.05         1
20401.95         1
52573.92         1
82790.85         1
110978.37        1
23090.34         1
97.02            1
11176.17         1
Name: saldo_medio_var12_ult3, Length: 3447, dtype: int64
0.00         73047
30000.00        67
90000.00        64
60000.00        64
150000.00       57
45000.00        51
300000.00       47
450000.00       44
120000.00       42
180000.00       36
9000.00         35
75000.00        34
105000.00       31
18000.00        31
210000.00       27
135000.00       25
270000.00       22
24000.00        22
300.00          22
15000.00        20
21000.00        20
3000.00         20
240000.00       19
36000.00        17
6000.00         13
12000.00        13
66000.00        13
54000.00        11
225000.00       11
27000.00        10
             ...
79947.87         1
12000.60         1
96600.00         1
66964.32         1
85000.02         1
36964.32         1
38571.42         1
192500.01        1
666.66           1
72321.42         1
6336.03          1
102902.16        1
135483.90        1
228428.58        1
54196.86         1
33870.96         1
270.96           1
140000.07        1
93000.00         1
417000.00        1
123483.87        1
290000.07        1
3099.99          1
49027.98         1
25811.10         1
123603.00        1
27515.70         1
51428.58         1
54251.61         1
45006.00         1
Name: saldo_medio_var13_corto_hace2, Length: 1628, dtype: int64
0.00         74657
5000.01         11
6000.00         11
4000.02         10
967.74           9
9677.43          9
30000.00         9
11612.91         9
3999.99          8
122.22           7
39999.99         7
12000.00         7
18000.00         7
8000.01          6
5806.44          6
7741.92          6
2903.22          6
99.99            6
9999.99          6
60000.00         5
111.12           5
7258.08          5
3387.09          5
19354.83         5
3000.00          5
1500.00          5
26129.04         4
3870.99          4
2000.01          4
15000.00         4
             ...
57096.81         1
5322.60          1
11199.99         1
56896.56         1
59416.38         1
100000.02        1
38322.57         1
33888.84         1
61.11            1
111999.96        1
74399.94         1
4821.42          1
11612.88         1
99000.00         1
21517.23         1
3483.87          1
41785.74         1
3931.02          1
27096.75         1
33999.99         1
96774.21         1
15985.86         1
25655.19         1
32400.00         1
21111.12         1
7800.00          1
4354.86          1
101793.15        1
1607.16          1
101612.91        1
Name: saldo_medio_var13_corto_hace3, Length: 968, dtype: int64
0.00         72836
90000.00       134
30000.00       130
60000.00       121
150000.00      117
300000.00      107
45000.00        93
120000.00       86
75000.00        74
450000.00       73
180000.00       72
9000.00         60
18000.00        56
105000.00       47
270000.00       46
15000.00        44
210000.00       42
135000.00       42
240000.00       38
24000.00        38
3000.00         37
21000.00        37
36000.00        33
300.00          31
54000.00        28
12000.00        25
27000.00        24
6000.00         23
66000.00        23
225000.00       22
             ...
117924.60        1
150303.00        1
150300.00        1
249300.00        1
288000.00        1
108303.00        1
102560.01        1
15812.91         1
435000.00        1
27999.99         1
43500.00         1
37950.00         1
369000.00        1
300006.00        1
27150.00         1
50954.16         1
64989.27         1
13299.99         1
75600.00         1
75750.00         1
1741.95          1
157333.35        1
76329.06         1
75708.75         1
216858.00        1
15600.00         1
181480.44        1
22681.68         1
215999.97        1
127500.00        1
Name: saldo_medio_var13_corto_ult1, Length: 943, dtype: int64
0.00         72836
20322.57         9
240.75           7
41333.34         7
261290.34        6
233.34           6
40645.17         6
85500.00         5
135000.00        5
53225.82         5
72580.65         5
375000.00        5
81333.33         5
69000.00         5
81000.00         5
216666.66        5
90000.00         5
42000.00         5
82580.64         5
101666.67        5
213333.33        5
219999.99        5
105000.00        4
37741.95         4
36000.00         4
270000.00        4
35000.01         4
109677.42        4
20000.01         4
31935.48         4
             ...
163749.99        1
17185.20         1
140627.73        1
5678.58          1
65533.56         1
75607.14         1
13030.02         1
114750.00        1
168999.96        1
96272.04         1
137096.79        1
33066.66         1
26488.02         1
64543.02         1
33229.29         1
160645.17        1
187736.10        1
206726.52        1
175483.86        1
143225.82        1
48096.78         1
258620.67        1
207000.93        1
148351.44        1
192000.00        1
442741.95        1
197844.84        1
258333.33        1
16709.67         1
16983.90         1
Name: saldo_medio_var13_corto_ult3, Length: 2576, dtype: int64
0.00         75532
75000.00        27
90000.00        23
150000.00       20
300000.00       18
180000.00       12
120000.00       12
15000.00         6
36000.00         6
60000.00         5
84000.00         5
225000.00        5
30000.00         5
450000.00        5
105000.00        5
18000.00         5
27000.00         4
240000.00        4
126000.00        4
210000.00        4
33000.00         3
54000.00         3
6000.00          3
360000.00        3
129000.00        3
201000.00        3
195000.00        3
102000.00        3
39000.00         3
93000.00         2
             ...
38689.68         1
27715.74         1
268789.35        1
50892.84         1
46451.64         1
37500.00         1
9000.00          1
39000.06         1
522580.80        1
2903.25          1
306000.00        1
3000.03          1
480000.00        1
156774.24        1
13654.83         1
111999.96        1
95249.04         1
78795.63         1
222580.65        1
34642.80         1
7800.00          1
227586.24        1
56659.98         1
60188.67         1
1935.48          1
557895.42        1
28500.03         1
31451.64         1
22500.00         1
90075.00         1
Name: saldo_medio_var13_largo_hace2, Length: 295, dtype: int64
0.00         75722
6000.00          5
9677.43          4
20322.57         3
5000.01          3
2419.35          3
4838.70          3
3000.00          3
15517.23         2
27931.05         2
29032.32         2
27999.99         2
15999.99         2
15677.43         2
6428.58          2
47499.99         2
48387.09         2
41379.30         2
18000.00         2
14516.13         2
6206.91          2
12413.82         2
147000.00        2
152000.01        2
19354.83         2
2586.21          2
3600.00          1
69365.04         1
45000.03         1
7999.98          1
             ...
33290.34         1
3999.99          1
4137.93          1
192000.00        1
8068.95          1
10344.81         1
25258.08         1
63000.00         1
9600.00          1
54310.32         1
9103.47          1
2589.30          1
54193.53         1
9677.40          1

In [8]:
for i in test.columns:
    print(test[i].value_counts())

137213    1
115309    1
74353     1
145188    1
66165     1
70263     1
92792     1
96890     1
84604     1
88702     1
43648     1
47746     1
33413     1
39558     1
57993     1
62091     1
51852     1
76400     1
117356    1
59336     1
127595    1
8785      1
12883     1
2644      1
597       1
137814    1
25177     1
31322     1
29275     1
148061    1
         ..
64949     1
58806     1
40377     1
36283     1
46524     1
48573     1
42430     1
89537     1
85443     1
95684     1
93639     1
9646      1
144936    1
144812    1
147931    1
120208    1
143797    1
130453    1
114077    1
109983    1
21920     1
19875     1
134571    1
30116     1
32165     1
28071     1
5544      1
7593      1
132522    1
2049      1
Name: ID, Length: 75818, dtype: int64
 2         73962
-999999      120
 8           116
 9           108
 3           107
 13          107
 1            99
 10           85
 11           85
 12           83
 0            76
 14           74
 7            73
 5            71
 6            70
 4            68
 15           29
 16           12
 18           10
 185           9
 17            9
 22            9
 33            9
 27            7
 158           7
 166           6
 21            6
 32            5
 195           5
 38            5
           ...
 176           1
 106           1
 44            1
 109           1
 173           1
 48            1
 238           1
 47            1
 226           1
 96            1
 206           1
 51            1
 183           1
 79            1
 55            1
 82            1
 83            1
 212           1
 181           1
 85            1
 149           1
 86            1
 214           1
 152           1
 218           1
 179           1
 220           1
 127           1
 94            1
 191           1
Name: var3, Length: 199, dtype: int64
23     20354
24      6187
25      4265
26      3427
27      2788
28      2179
31      1733
29      1723
30      1602
35      1571
34      1507
32      1498
36      1482
37      1413
33      1356
39      1355
38      1341
41      1266
40      1262
42      1166
43      1112
44      1019
45       984
22       924
46       852
47       819
48       762
49       682
50       675
51       643
       ...
91        26
92        26
6         25
19        20
21        20
15        19
16        16
13        16
11        14
8         14
93        14
12        14
95        13
20        13
14        13
17        12
96        11
7         10
9         10
94         8
18         6
97         5
103        3
98         3
101        3
10         3
105        2
102        2
99         1
104        1
Name: var15, Length: 100, dtype: int64
0.00        72215
300.00        249
150.00        213
600.00        176
60.00         145
3.00          119
900.00        112
1500.00       112
30.00         103
450.00         96
90.00          91
1200.00        82
3000.00        80
750.00         77
15.00          69
180.00         62
120.00         58
1800.00        47
210.00         47
360.00         42
6000.00        41
1050.00        39
240.00         33
75.00          30
2700.00        29
1350.00        27
2400.00        26
270.00         25
2100.00        25
420.00         22
            ...
2253.00         1
1167.00         1
750.96          1
10014.39        1
240.75          1
444.00          1
142.50          1
633.00          1
1665.00         1
124.50          1
363.00          1
3960.00         1
834.00          1
228.00          1
3339.00         1
735.00          1
1848.00         1
86.67           1
1656.00         1
308.70          1
172.50          1
34.50           1
1275.00         1
64.50           1
159.42          1
4650.00         1
4974.18         1
1164.00         1
9900.00         1
414.00          1
Name: imp_ent_var16_ult1, Length: 598, dtype: int64
0.00       65897
30.00        123
15.00         76
60.00         75
90.00         57
4.50          36
45.00         35
2.67          30
150.00        29
120.00        27
2.97          23
105.00        20
59.85         18
3.00          17
300.00        16
75.00         15
210.00        15
29.97         15
66.00         14
38.97         12
21.00         12
135.00        12
180.00        12
27.00         12
42.00         11
48.00         11
6.00          11
14.97         11
89.85         11
24.00         10
           ...
1642.44        1
909.48         1
125.70         1
1011.36        1
326.67         1
4755.00        1
841.77         1
106.89         1
647.55         1
745.32         1
218.67         1
1861.53        1
1383.81        1
215.94         1
300.12         1
444.45         1
1013.70        1
758.22         1
1024.65        1
156.72         1
337.32         1
200.34         1
691.53         1
350.46         1
525.09         1
178.38         1
387.90         1
320.10         1
2769.63        1
349.80         1
Name: imp_op_var39_comer_ult1, Length: 7593, dtype: int64
0.00       64099
30.00        154
15.00         80
90.00         79
60.00         75
4.50          68
45.00         41
150.00        39
2.67          37
120.00        35
180.00        21
300.00        18
21.00         17
89.85         16
57.00         15
75.00         15
3.00          15
2.97          14
105.00        14
29.97         13
59.85         13
27.00         13
18.00         12
14.97         11
240.00        11
48.00         10
66.00         10
24.00          9
87.00          9
108.00         9
           ...
727.38         1
549.00         1
3492.72        1
998.04         1
2397.27        1
1267.92        1
1145.91        1
1208.52        1
429.87         1
317.70         1
444.30         1
254.10         1
1228.83        1
2899.23        1
695.97         1
478.29         1
415.71         1
2678.76        1
1032.60        1
1349.97        1
124.23         1
486.24         1
2033.70        1
353.28         1
278.97         1
1346.22        1
346.11         1
2537.34        1
1456.23        1
509.10         1
Name: imp_op_var39_comer_ult3, Length: 9154, dtype: int64
0.00       75498
120.00         5
484.74         2
2700.00        2
1800.00        2
240.00         1
701.01         1
1734.15        1
134.85         1
119.97         1
4500.00        1
621.84         1
916.32         1
615.30         1
471.00         1
46.05          1
796.35         1
351.87         1
1013.31        1
756.81         1
863.64         1
208.77         1
606.39         1
257.91         1
8448.39        1
884.91         1
26.46          1
529.68         1
360.00         1
2730.00        1
           ...
547.56         1
870.63         1
5735.16        1
18.72          1
242.49         1
322.11         1
1172.67        1
702.66         1
3147.06        1
292.95         1
1977.00        1
611.43         1
1511.67        1
3389.67        1
551.64         1
986.01         1
246.00         1
244.56         1
94.20          1
3015.90        1
538.56         1
1190.73        1
32.70          1
3337.83        1
365.25         1
1647.66        1
225.54         1
494.19         1
184.92         1
5755.71        1
Name: imp_op_var40_comer_ult1, Length: 314, dtype: int64
0.00       75452
120.00         3
4500.00        2
1800.00        2
824.73         1
451.20         1
1334.58        1
139.50         1
7061.28        1
268.77         1
201.06         1
208.77         1
8288.61        1
833.67         1
1490.37        1
988.86         1
2498.61        1
240.00         1
424.89         1
153.45         1
1734.15        1
119.97         1
621.84         1
2348.37        1
99.63          1
3287.52        1
2516.55        1
4764.87        1
5115.78        1
1953.72        1
           ...
501.27         1
484.74         1
1738.11        1
1114.53        1
8212.56        1
118.26         1
1637.91        1
2095.80        1
538.56         1
188.40         1
2109.39        1
1186.50        1
1975.23        1
317.70         1
984.99         1
1281.15        1
897.45         1
357.00         1
985.74         1
596.25         1
59.58          1
450.00         1
2996.97        1
193.05         1
598.50         1
766.71         1
8617.29        1
532.56         1
1033.32        1
98.85          1
Name: imp_op_var40_comer_ult3, Length: 363, dtype: int64
0.00       75777
60.00          5
150.00         3
120.00         2
900.00         2
720.00         2
180.00         2
300.00         2
360.00         2
660.00         1
66.00          1
390.00         1
1560.00        1
1050.00        1
270.00         1
1320.00        1
1800.00        1
510.00         1
2040.00        1
2700.00        1
1110.00        1
2100.00        1
480.00         1
690.00         1
6600.00        1
210.00         1
3120.00        1
1500.00        1
1260.00        1
337.38         1
Name: imp_op_var40_efect_ult1, dtype: int64
0.00       75771
60.00          5
120.00         3
300.00         2
150.00         2
270.00         2
900.00         2
360.00         2
390.00         2
720.00         2
1800.00        2
66.00          1
337.38         1
1320.00        1
1560.00        1
510.00         1
4200.00        1
2700.00        1
1110.00        1
540.00         1
1920.00        1
2550.00        1
1050.00        1
6600.00        1
210.00         1
3120.00        1
3900.00        1
1980.00        1
180.00         1
600.00         1
1260.00        1
2100.00        1
2040.00        1
690.00         1
Name: imp_op_var40_efect_ult3, dtype: int64
0.00       75568
120.00         4
1800.00        3
2700.00        2
1415.91        1
268.77         1
208.77         1
3613.65        1
179.82         1
788.07         1
47.01          1
637.95         1
683.52         1
3908.37        1
1251.87        1
4500.00        1
864.69         1
176.73         1
1327.89        1
237.00         1
1885.74        1
1357.02        1
1284.42        1
256.98         1
897.21         1
50.82          1
234.00         1
972.00         1
315.60         1
2191.77        1
           ...
450.00         1
319.95         1
437.52         1
8.94           1
1401.57        1
24.00          1
216.00         1
194.70         1
54.48          1
907.80         1
3259.56        1
8212.56        1
81.90          1
484.74         1
256.83         1
1977.00        1
595.38         1
63.75          1
365.25         1
678.51         1
538.56         1
3015.90        1
188.40         1
129.96         1
75.00          1
280.86         1
5735.16        1
1925.46        1
2996.97        1
2483.34        1
Name: imp_op_var40_ult1, Length: 245, dtype: int64
0.00       66064
30.00        123
15.00         76
60.00         75
90.00         58
45.00         36
4.50          36
2.67          30
150.00        29
2.97          23
120.00        23
105.00        20
59.85         18
3.00          17
300.00        16
210.00        15
66.00         15
29.97         15
75.00         15
38.97         12
180.00        12
21.00         12
89.85         12
27.00         12
48.00         11
135.00        11
6.00          11
42.00         11
14.97         11
38.85         10
           ...
113.73         1
248.34         1
2364.90        1
444.45         1
300.12         1
215.94         1
956.67         1
1032.60        1
193.20         1
2062.05        1
121.56         1
239.22         1
2376.00        1
3130.89        1
1346.22        1
255.18         1
409.89         1
1059.12        1
1383.81        1
167.61         1
587.04         1
327.33         1
326.67         1
841.77         1
106.89         1
647.55         1
745.32         1
218.67         1
1861.53        1
407.25         1
Name: imp_op_var41_comer_ult1, Length: 7444, dtype: int64
0.00       64272
30.00        155
15.00         81
90.00         79
60.00         75
4.50          69
45.00         41
150.00        39
2.67          37
120.00        33
180.00        21
300.00        18
89.85         17
21.00         17
3.00          15
57.00         15
75.00         15
2.97          14
105.00        14
59.85         13
29.97         13
27.00         13
18.00         12
14.97         11
66.00         11
240.00        10
48.00         10
108.00         9
29.70          9
54.00          9
           ...
1208.52        1
801.39         1
280.14         1
237.93         1
12.21          1
398.97         1
1428.54        1
727.38         1
549.00         1
3492.72        1
998.04         1
2397.27        1
1267.92        1
1145.91        1
429.87         1
147.60         1
444.30         1
254.10         1
1228.83        1
2899.23        1
695.97         1
478.29         1
415.71         1
2678.76        1
1032.60        1
1349.97        1
124.23         1
486.24         1
2033.70        1
254.55         1
Name: imp_op_var41_comer_ult3, Length: 8985, dtype: int64
0.00        69220
60.00        1035
120.00        653
180.00        328
300.00        263
240.00        222
600.00        177
150.00        176
420.00        172
330.00        167
360.00        162
210.00        161
900.00        119
450.00        115
750.00        111
480.00        108
540.00        104
270.00         95
1800.00        84
390.00         81
660.00         79
510.00         78
1200.00        75
720.00         73
630.00         68
570.00         68
1500.00        67
870.00         63
780.00         51
840.00         46
            ...
258.00          1
66.60           1
2095.68         1
4992.33         1
255.63          1
1067.43         1
1939.20         1
5340.00         1
5550.00         1
96.00           1
14400.00        1
1969.50         1
564.75          1
113.40          1
1850.70         1
9030.00         1
315.78          1
185.70          1
4424.16         1
11670.00        1
8160.00         1
13770.00        1
11010.00        1
224.46          1
462.00          1
471.75          1
10380.00        1
4470.00         1
756.84          1
78.00           1
Name: imp_op_var41_efect_ult1, Length: 338, dtype: int64
0.00        67235
60.00        1466
120.00        763
180.00        367
300.00        287
240.00        269
150.00        220
360.00        201
600.00        185
420.00        184
330.00        180
210.00        180
900.00        147
480.00        140
450.00        131
750.00        113
540.00        109
660.00        100
270.00         99
510.00         98
1800.00        89
390.00         84
570.00         81
1200.00        81
720.00         80
840.00         71
780.00         69
630.00         68
1020.00        68
870.00         68
            ...
923.16          1
5859.09         1
7650.00         1
11400.00        1
236.46          1
6180.00         1
2236.38         1
4754.16         1
10860.00        1
405.00          1
3349.50         1
11040.00        1
7380.00         1
1395.00         1
9420.00         1
248.04          1
2600.91         1
645.00          1
1546.86         1
78.00           1
893.31          1
9504.78         1
2055.81         1
1506.00         1
131.91          1
1305.63         1
156.00          1
1679.76         1
66.60           1
13320.00        1
Name: imp_op_var41_efect_ult3, Length: 475, dtype: int64
0.00       64304
60.00        453
120.00       208
30.00        120
150.00       102
300.00        98
180.00        86
15.00         72
90.00         67
600.00        66
240.00        59
420.00        55
210.00        51
330.00        46
45.00         40
900.00        39
1800.00       39
450.00        35
1500.00       34
360.00        32
1200.00       29
4.50          29
750.00        27
270.00        27
2.67          27
510.00        26
660.00        22
540.00        20
390.00        19
105.00        18
           ...
297.75         1
49.86          1
183.00         1
1018.35        1
1744.89        1
1381.56        1
821.22         1
1981.77        1
99.93          1
30.72          1
391.83         1
583.23         1
902.55         1
500.16         1
62.73          1
1351.53        1
1600.47        1
62.76          1
2038.92        1
1854.63        1
1615.20        1
357.00         1
2976.78        1
2115.24        1
1937.04        1
1195.26        1
80.85          1
872.07         1
1495.86        1
1452.00        1
Name: imp_op_var41_ult1, Length: 8007, dtype: int64
0.00        69210
60.00        1037
120.00        653
180.00        327
300.00        264
240.00        222
600.00        177
150.00        177
420.00        172
330.00        165
360.00        164
210.00        160
900.00        118
450.00        114
750.00        111
480.00        109
540.00        104
270.00         95
1800.00        84
390.00         83
660.00         79
510.00         78
1200.00        75
720.00         73
630.00         68
570.00         67
1500.00        67
870.00         63
780.00         50
840.00         46
            ...
2238.00         1
132.42          1
14400.00        1
2974.80         1
301.98          1
4530.00         1
5220.00         1
1679.76         1
853.23          1
5970.00         1
3330.00         1
3582.00         1
131.91          1
5520.00         1
5820.00         1
1190.91         1
78.00           1
915.00          1
2983.95         1
1656.00         1
10800.00        1
4080.00         1
18270.00        1
4950.00         1
2026.38         1
384.93          1
8130.00         1
187.47          1
546.00          1
2390.10         1
Name: imp_op_var39_efect_ult1, Length: 341, dtype: int64
0.00        67227
60.00        1467
120.00        764
180.00        366
300.00        286
240.00        270
150.00        220
360.00        202
600.00        186
420.00        185
330.00        180
210.00        180
900.00        146
480.00        140
450.00        131
750.00        113
540.00        109
660.00        100
270.00         99
510.00         98
1800.00        89
390.00         84
1200.00        81
570.00         80
720.00         80
840.00         71
780.00         69
630.00         69
870.00         68
1020.00        68
            ...
11400.00        1
1395.00         1
72.87           1
6180.00         1
2236.38         1
4754.16         1
10860.00        1
236.46          1
8169.57         1
11040.00        1
156.00          1
996.84          1
78.00           1
7080.00         1
7650.00         1
9420.00         1
248.04          1
2600.91         1
645.00          1
1546.86         1
893.31          1
66.60           1
9504.78         1
4327.89         1
2055.81         1
13320.00        1
131.91          1
1506.00         1
1679.76         1
1305.63         1
Name: imp_op_var39_efect_ult3, Length: 479, dtype: int64
0.00       64187
60.00        452
120.00       209
30.00        120
150.00       102
300.00        97
180.00        86
15.00         72
600.00        66
90.00         66
240.00        59
420.00        55
210.00        50
330.00        46
1800.00       40
45.00         39
900.00        38
450.00        35
1500.00       34
360.00        31
1200.00       29
4.50          29
2.67          27
270.00        27
750.00        26
510.00        26
660.00        21
540.00        20
390.00        19
105.00        18
           ...
509.55         1
444.45         1
150.06         1
215.94         1
1267.92        1
1053.93        1
1961.49        1
1288.35        1
4362.87        1
695.97         1
1940.04        1
5939.82        1
450.15         1
449.85         1
618.57         1
1484.58        1
632.85         1
787.50         1
1544.85        1
2376.00        1
236.61         1
819.78         1
167.61         1
326.67         1
245.22         1
106.89         1
745.32         1
437.34         1
1383.81        1
3016.29        1
Name: imp_op_var39_ult1, Length: 8119, dtype: int64
0.00        75720
3000.00         6
300.00          6
2400.00         4
900.00          3
1500.00         3
120.00          3
7500.00         2
60.00           2
1800.00         2
150.00          2
450.00          2
1920.00         2
1377.00         1
480.00          1
51.00           1
12.00           1
10049.31        1
19.38           1
3.99            1
402.00          1
2760.00         1
675.00          1
18000.00        1
39.00           1
270.00          1
1260.00         1
3788.34         1
2365.20         1
35.10           1
            ...
5833.20         1

0    73940
1     1878
Name: ind_var25, dtype: int64
0    75818
Name: ind_var27_0, dtype: int64
0    75818
Name: ind_var28_0, dtype: int64
0    75818
Name: ind_var28, dtype: int64
0    75818
Name: ind_var27, dtype: int64
0    75811
1        7
Name: ind_var29_0, dtype: int64
0    75816
1        2
Name: ind_var29, dtype: int64
1    75462
0      356
Name: ind_var30_0, dtype: int64
1    55648
0    20170
Name: ind_var30, dtype: int64
0    75489
1      329
Name: ind_var31_0, dtype: int64
0    75526
1      292
Name: ind_var31, dtype: int64
0    75709
1      109
Name: ind_var32_cte, dtype: int64
0    75724
1       94
Name: ind_var32_0, dtype: int64
0    75724
1       94
Name: ind_var32, dtype: int64
0    75752
1       66
Name: ind_var33_0, dtype: int64
0    75760
1       58
Name: ind_var33, dtype: int64
0    75816
1        2
Name: ind_var34_0, dtype: int64
0    75816
1        2
Name: ind_var34, dtype: int64
0    70456
1     5362
Name: ind_var37_cte, dtype: int64
0    70945
1     4873
Name: ind_var37_0, dtype: int64
0    70945
1     4873
Name: ind_var37, dtype: int64
1    66913
0     8905
Name: ind_var39_0, dtype: int64
0    74902
1      916
Name: ind_var40_0, dtype: int64
0    75523
1      295
Name: ind_var40, dtype: int64
1    66790
0     9028
Name: ind_var41_0, dtype: int64
0    75818
Name: ind_var41, dtype: int64
0    75523
1      295
Name: ind_var39, dtype: int64
0    75665
1      153
Name: ind_var44_0, dtype: int64
0    75679
1      139
Name: ind_var44, dtype: int64
0    75818
Name: ind_var46_0, dtype: int64
0    75818
Name: ind_var46, dtype: int64
0    74900
3      915
6        3
Name: num_var1_0, dtype: int64
0    75521
3      296
6        1
Name: num_var1, dtype: int64
1    38145
0    19396
2    12564
3     4406
4     1069
5      196
6       36
7        3
8        2
9        1
Name: num_var4, dtype: int64
3     72096
0      3260
6       450
9        10
12        2
Name: num_var5_0, dtype: int64
3     50141
0     25494
6       177
9         5
12        1
Name: num_var5, dtype: int64
0    75811
3        7
Name: num_var6_0, dtype: int64
0    75816
3        2
Name: num_var6, dtype: int64
0    73264
3     2553
6        1
Name: num_var8_0, dtype: int64
0    73552
3     2266
Name: num_var8, dtype: int64
0     70616
3      5020
6       179
9         2
42        1
Name: num_var12_0, dtype: int64
0    72379
3     3414
6       25
Name: num_var12, dtype: int64
0     71784
3      3799
6       191
9        34
12        5
21        2
15        2
18        1
Name: num_var13_0, dtype: int64
0    72521
3     3270
6       27
Name: num_var13_corto_0, dtype: int64
0    72622
3     3193
6        3
Name: num_var13_corto, dtype: int64
0     75002
3       677
6       109
9        20
12        7
21        2
18        1
Name: num_var13_largo_0, dtype: int64
0     75016
3       693
6        82
9        17
12        8
21        1
18        1
Name: num_var13_largo, dtype: int64
0    75813
3        4
6        1
Name: num_var13_medio_0, dtype: int64
0    75813
3        5
Name: num_var13_medio, dtype: int64
0     71885
3      3761
6       137
9        25
12        6
15        2
21        1
18        1
Name: num_var13, dtype: int64
0     73967
3      1841
6         9
42        1
Name: num_var14_0, dtype: int64
0    75428
3      387
6        3
Name: num_var14, dtype: int64
0     75696
3        66
6        26
9        19
18        3
12        3
15        2
24        1
21        1
66        1
Name: num_var17_0, dtype: int64
0     75712
3        62
6        22
9        13
12        7
18        1
15        1
Name: num_var17, dtype: int64
0    75817
3        1
Name: num_var18_0, dtype: int64
0    75817
3        1
Name: num_var18, dtype: int64
0    75559
3      259
Name: num_var20_0, dtype: int64
0    75633
3      185
Name: num_var20, dtype: int64
0    72564
3     3242
6       12
Name: num_var24_0, dtype: int64
0    72933
3     2884
6        1
Name: num_var24, dtype: int64
0     73855
3      1640
6       267
9        40
12       11
18        3
15        2
Name: num_var26_0, dtype: int64
0     73855
3      1640
6       267
9        40
12       11
18        3
15        2
Name: num_var26, dtype: int64
0     73940
3      1578
6       250
9        37
12        9
18        3
15        1
Name: num_var25_0, dtype: int64
0     73940
3      1578
6       250
9        37
12        9
18        3
15        1
Name: num_var25, dtype: int64
0     75715
3        31
9        17
6        15
18        8
15        6
24        5
12        4
21        3
27        3
30        3
57        1
78        1
33        1
39        1
45        1
48        1
66        1
60        1
Name: num_op_var40_hace2, dtype: int64
0     75810
3         4
6         2
15        1
9         1
Name: num_op_var40_hace3, dtype: int64
0     75568
3        73
9        34
6        32
12       18
15       17
21       15
27        9
18        8
42        7
30        6
24        6
39        5
33        4
36        3
48        3
51        2
66        2
54        2
81        1
99        1
72        1
69        1
Name: num_op_var40_ult1, dtype: int64
0      75553
3         60
6         38
9         28
21        18
12        17
15        15
30        12
27        12
24        10
18         8
36         6
42         6
51         6
39         5
54         4
48         3
33         3
72         3
75         2
66         1
120        1
69         1
99         1
135        1
111        1
144        1
60         1
63         1
Name: num_op_var40_ult3, dtype: int64
0      67419
3       2571
6       1407
9        910
12       675
15       491
18       358
21       311
24       268
27       218
30       183
33       147
36       135
39       101
48        81
45        77
42        76
51        56
54        43
60        38
57        36
63        34
66        22
72        18
69        16
75        16
78        16
81        12
90        11
120        7
87         7
84         6
99         6
96         6
105        5
150        3
132        3
117        3
177        2
114        2
129        2
123        2
141        2
93         2
111        2
102        2
204        1
171        1
168        1
159        1
207        1
108        1
231        1
180        1
147        1
225        1
Name: num_op_var41_hace2, dtype: int64
0      74865
3        503
6        178
9         98
12        57
15        37
21        21
18        18
24        10
27         9
33         5
30         4
39         3
42         3
54         2
93         1
144        1
72         1
51         1
63         1
Name: num_op_var41_hace3, dtype: int64
0      64304
3       2906
6       1710
9       1072
12       843
15       644
18       570
21       499
24       402
27       346
30       311
36       263
33       262
39       229
42       197
45       151
48       140
51       122
54       108
57        83
60        79
63        76
66        65
72        55
69        47
81        39
75        39
78        31
84        25
87        20
       ...
123        6
135        6
117        6
114        5
120        5
132        4
147        3
138        3
171        3
165        3
198        2
141        2
255        2
156        2
144        2
150        2
270        2
162        2
195        1
192        1
129        1
177        1
174        1
333        1
234        1
153        1
216        1
264        1
183        1
243        1
Name: num_op_var41_ult1, Length: 69, dtype: int64
0      62196
3       3038
6       1801
9       1213
12       911
15       704
18       608
21       561
24       484
30       363
27       356
33       316
36       284
39       243
42       234
48       202
45       198
51       170
54       161
57       159
60       144
63       129
66       123
69        94
72        90
75        77
81        76
78        73
90        67
87        63
       ...
351        2
216        2
213        2
321        1
261        1
258        1
246        1
375        1
306        1
315        1
252        1
399        1
369        1
204        1
288        1
285        1
282        1
354        1
345        1
408        1
471        1
405        1
276        1
210        1
489        1
255        1
237        1
240        1
396        1
447        1
Name: num_op_var41_ult3, Length: 105, dtype: int64
0      67343
3       2584
6       1421
9        922
12       677
15       497
18       363
21       313
24       272
27       224
30       186
33       147
36       134
39       102
48        81
45        78
42        76
51        57
54        45
60        39
57        37
63        33
66        23
72        19
78        17
69        16
75        16
81        12
90        12
84         7
120        7
99         6
87         6
96         6
105        4
114        3
132        3
117        3
150        3
111        2
141        2
129        2
123        2
102        2
93         2
177        2
171        1
168        1
159        1
207        1
108        1
231        1
180        1
225        1
147        1
204        1
Name: num_op_var39_hace2, dtype: int64
0      74857
3        507
6        180
9         99
12        57
15        38
21        21
18        18
24        10
27         9
33         5
30         4
39         3
42         3
54         2
93         1
144        1
72         1
51         1
63         1
Name: num_op_var39_hace3, dtype: int64
0      64187
3       2929
6       1718
9       1077
12       848
15       655
18       577
21       506
24       400
27       350
30       318
36       271
33       265
39       229
42       200
45       152
48       143
51       121
54       115
57        86
60        79
63        75
66        68
72        50
69        49
81        43
75        40
78        33
84        26
87        20
       ...
117        7
135        6
132        6
123        6
120        5
114        5
147        3
150        3
129        3
171        3
165        3
138        2
198        2
255        2
141        2
270        2
144        2
153        2
162        2
156        2
333        1
216        1
174        1
240        1
177        1
195        1
243        1
183        1
315        1
192        1
Name: num_op_var39_ult1, Length: 69, dtype: int64

0      62081
3       3053
6       1808
9       1226
12       914
15       709
18       609
21       562
24       492
30       370
27       361
33       317
36       288
39       247
42       230
45       203
48       201
51       176
54       167
57       157
60       144
63       137
66       121
69        96
72        94
75        83
81        76
78        72
90        69
87        62
       ...
291        2
231        2
234        2
261        1
252        1
522        1
321        1
258        1
249        1
204        1
255        1
375        1
243        1
306        1
369        1
240        1
489        1
354        1
288        1
285        1
396        1
411        1
282        1
345        1
408        1
276        1
315        1
273        1
399        1
447        1
Name: num_op_var39_ult3, Length: 106, dtype: int64
0    75818
Name: num_var27_0, dtype: int64
0    75818
Name: num_var28_0, dtype: int64
0    75818
Name: num_var28, dtype: int64
0    75818
Name: num_var27, dtype: int64
0    75811
3        7
Name: num_var29_0, dtype: int64
0    75816
3        2
Name: num_var29, dtype: int64
3     67826
6      5634
9      1821
0       356
12      157
15       17
18        3
45        1
27        1
24        1
21        1
Name: num_var30_0, dtype: int64
3     51320
0     20170
6      3960
9       327
12       30
15        7
18        2
24        1
21        1
Name: num_var30, dtype: int64
0     75489
3       258
6        40
9        17
12        5
18        3
15        3
24        1
21        1
66        1
Name: num_var31_0, dtype: int64
0     75526
3       234
6        35
9        12
12        9
18        1
15        1
Name: num_var31, dtype: int64
0     75724
3        75
6        16
12        2
9         1
Name: num_var32_0, dtype: int64
0     75724
3        75
6        16
12        2
9         1
Name: num_var32, dtype: int64
0    75752
3       60
6        6
Name: num_var33_0, dtype: int64
0    75760
3       54
6        4
Name: num_var33, dtype: int64
0    75816
3        2
Name: num_var34_0, dtype: int64
0    75816
3        2
Name: num_var34, dtype: int64
3     37939
0     19396
6     12192
9      4575
12     1309
15      287
18       80
21       23
24       11
30        3
36        2
42        1
Name: num_var35, dtype: int64
0      72279
3       2140
6        730
9        318
12       158
15        64
18        54
21        25
24        16
27        11
30         8
33         4
36         3
42         2
51         1
39         1
105        1
45         1
48         1
117        1
Name: num_var37_med_ult2, dtype: int64
0     70945
3      2591
6      1091
9       484
12      268
15      182
18       97
21       56
24       23
30       20
27       18
33       15
36        9
39        4
42        3
45        2
51        2
63        2
60        1
84        1
48        1
72        1
69        1
54        1
Name: num_var37_0, dtype: int64
0     70945
3      2591
6      1091
9       484
12      268
15      182
18       97
21       56
24       23
30       20
27       18
33       15
36        9
39        4
42        3
45        2
51        2
63        2
60        1
84        1
48        1
72        1
69        1
54        1
Name: num_var37, dtype: int64
3     64959
0      8905
6      1834
9        97
12       16
21        2
15        2
39        1
33        1
30        1
Name: num_var39_0, dtype: int64
0    74902
3      914
6        2
Name: num_var40_0, dtype: int64
0    75523
3      295
Name: num_var40, dtype: int64
3     65360
0      9028
6      1355
9        57
12       13
21        2
39        1
33        1
27        1
Name: num_var41_0, dtype: int64
0    75818
Name: num_var41, dtype: int64
0    75523
3      295
Name: num_var39, dtype: int64
3     69971
6      5168
0       459
9       206
12       11
15        2
45        1
Name: num_var42_0, dtype: int64
3     51830
0     21865
6      2091
9        29
12        2
15        1
Name: num_var42, dtype: int64
0    75665
3      151
6        2
Name: num_var44_0, dtype: int64
0    75679
3      137
6        2
Name: num_var44, dtype: int64
0    75818
Name: num_var46_0, dtype: int64
0    75818
Name: num_var46, dtype: int64
0.00       75521
120.00         4
390.00         2
2700.00        2
4635.00        2
1486.44        1
961.86         1
141.03         1
1470.09        1
324.66         1
119.97         1
4500.00        1
621.84         1
2993.61        1
240.00         1
1671.03        1
1302.36        1
426.72         1
742.95         1
857.58         1
46.05          1
1890.00        1
179.82         1
2837.37        1
256.98         1
8683.62        1
1482.87        1
2516.55        1
234.00         1
26.46          1
           ...
108.54         1
194.70         1
315.30         1
24.00          1
256.83         1
124.86         1
870.63         1
1740.51        1
1729.50        1
242.49         1
322.11         1
501.27         1
1658.31        1
1800.00        1
1728.36        1
2996.97        1
766.71         1
5735.16        1
1396.41        1
986.01         1
75.00          1
538.56         1
437.52         1
365.25         1
225.54         1
494.19         1
3798.93        1
118.74         1
817.83         1
846.51         1
Name: saldo_var1, Length: 292, dtype: int64
0.00        25494
3.00        19032
90.00        5307
30.00        1788
15.00        1705
6.00         1063
150.00        908
60.00         821
300.00        483
120.00        316
9.00          191
600.00        183
93.00         152
45.00         126
450.00        115
3000.00       103
180.00        102
1500.00       100
900.00         99
153.00         92
1.50           91
12.00          87
0.30           80
75.00          78
303.00         75
33.00          75
18.00          69
1200.00        69
240.00         62
0.03           60
            ...
19150.41        1
1466.52         1
10.77           1
214.50          1
27372.45        1
8758.26         1
215.58          1
42.60           1
18958.50        1
12542.19        1
158.40          1
35.70           1
5651.04         1
53.94           1
650.76          1
645.30          1
964.98          1
2860.08         1
655.59          1
1701.00         1
1267.95         1
59628.54        1
4822.92         1
5141.10         1
931.86          1
307.50          1
58.14           1
3043.59         1
5556.51         1
5326.26         1
Name: saldo_var5, Length: 11415, dtype: int64
0.0        75816
9950.1         1
12627.0        1
Name: saldo_var6, dtype: int64
 0.00        73552
 3.00           22
 1500.00        20
 30.00          17
 15.00          15
 60.00          14
 750.00         11
 300.00          9
 900.00          8
 150.00          8
 6.00            7
 1503.00         5
 75.00           5
 1800.00         5
 3000.00         4
 90.00           4
 753.00          4
 0.03            4
 3030.00         4
 1200.00         3
 764.55          3
 1612.14         3
 1650.00         3
 1515.00         3
 21.00           3
 12.00           3
 3003.00         3
 3480.00         2
 0.51            2
 20.22           2
             ...
 4963.44         1
 4612.59         1
 613.29          1
 10.32           1
 723.00          1
-0.24            1
 2772.63         1
 4761.00         1
 38.73           1
 8391.69         1
 287.04          1
 528.81          1
 7657.11         1
 11672.34        1
 12815.76        1
 7299.48         1
 0.45            1
 324.33          1
 1558.68         1
 6613.86         1
 3005.28         1
 151.56          1
 144.12          1
 2276.82         1
 4387.62         1
 5547.24         1
 39.90           1
 3389.58         1
 4.29            1
 7434.99         1
Name: saldo_var8, Length: 2062, dtype: int64
0.00         72379
3000.00         13
15000.00        13
30000.00        10
3.00             9
90000.00         9
300000.00        9
60000.00         8
300.00           7
18000.00         6
60079.71         6
0.03             6
9000.00          6
300.12           6
60069.42         6
36000.00         6
6000.00          6
12000.00         5
45000.00         5
30.00            5
1500.00          5
210549.36        5
300403.59        5
60156.96         4
15.00            4
120313.92        4
225000.00        4
24000.00         4
75096.42         4
150392.37        4
             ...
72191.34         1
72188.34         1
198529.80        1
186392.94        1
297.00           1
195378.90        1
210227.82        1
270703.47        1
90.36            1
23929.26         1
12913.26         1
88348.59         1
1.80             1
118907.58        1
144879.57        1
107529.81        1
300372.84        1
344419.32        1
50412.00         1
57074.94         1
391048.77        1
51136.41         1
195000.90        1
990.51           1
162216.90        1
40548.60         1
42039.84         1
860677.23        1
3285.63          1
21179.85         1
Name: saldo_var12, Length: 3074, dtype: int64
0.00         72622
90000.00       171
300000.00      130
30000.00       130
150000.00      129
60000.00       128
120000.00      105
45000.00        99
75000.00        83
180000.00       81
36000.00        70
18000.00        67
450000.00       67
15000.00        54
3000.00         47
105000.00       46
300.00          43
135000.00       39
210000.00       37
240000.00       33
54000.00        33
270000.00       33
72000.00        32
24000.00        31
9000.00         29
225000.00       27
6000.00         27
12000.00        26
21000.00        23
195000.00       22
             ...
90045.00         1
116249.58        1
180030.00        1
180015.00        1
136500.00        1
45003.00         1
266504.73        1
360015.00        1
6003.00          1
180003.00        1
112449.00        1
180243.00        1
180300.00        1
158630.85        1
90306.00         1
33013.38         1
257400.00        1
74010.00         1
219651.12        1
180669.00        1
317180.55        1
104599.98        1
30750.00         1
58560.30         1
180519.00        1
295500.00        1
246003.00        1
159150.00        1
36903.00         1
196500.00        1
Name: saldo_var13_corto, Length: 759, dtype: int64
0.00         75016
75000.00        66
90000.00        56
300000.00       37
150000.00       36
30000.00        29
120000.00       27
180000.00       26
225000.00       22
18000.00        19
15000.00        17
450000.00       17
60000.00        15
45000.00        15
78000.00        13
135000.00       13
105000.00       12
210000.00       12
36000.00        12
240000.00       11
108000.00       10
27000.00         9
24000.00         6
54000.00         6
270000.00        6
51000.00         5
114000.00        5
39000.00         5
48000.00         5
75003.00         5
             ...
26280.00         1
234000.00        1
105003.00        1
147000.00        1
177000.00        1
180600.00        1
30900.00         1
72000.00         1
151800.00        1
95874.96         1
183717.87        1
153150.00        1
76560.00         1
480000.00        1
76200.00         1
299487.24        1
54583.68         1
435000.00        1
99000.00         1
182400.00        1
8100.00          1
15600.00         1
75408.00         1
75030.00         1
150015.00        1
51513.87         1
900000.00        1
102006.15        1
149820.00        1
73500.00         1
Name: saldo_var13_largo, Length: 241, dtype: int64
0        75813
12000        2
13500        1
36000        1
9000         1
Name: saldo_var13_medio, dtype: int64
0.00         71885
90000.00       219
300000.00      166
150000.00      158
30000.00       157
60000.00       142
75000.00       142
120000.00      129
45000.00       112
180000.00      102
18000.00        83
450000.00       82
36000.00        81
15000.00        63
105000.00       59
135000.00       49
210000.00       48
3000.00         45
270000.00       43
240000.00       43
300.00          43
225000.00       41
54000.00        38
24000.00        36
72000.00        31
9000.00         31
108000.00       28
12000.00        28
6000.00         28
27000.00        27
             ...
180015.00        1
116249.58        1
266504.73        1
360015.00        1
224970.00        1
180003.00        1
153004.92        1
44997.00         1
40515.00         1
848239.80        1
510000.00        1
30750.00         1
260563.92        1
158630.85        1
171692.16        1
360030.00        1
74010.00         1
234387.45        1
219651.12        1
180669.00        1
317180.55        1
90306.00         1
58560.30         1
180573.00        1
180519.00        1
295500.00        1
246003.00        1
96006.00         1
36903.00         1
196500.00        1
Name: saldo_var13, Length: 887, dtype: int64
0.00        75428
3000.00         8
3.00            6
15000.00        6
0.03            6
0.06            5
1500.00         5
300.00          5
600.00          4
6000.00         4
9000.00         3
12000.00        2
1500.51         2
1200.00         2
30000.00        2
450.00          2
1800.57         2
3000.84         2
18000.00        2
375.00          2
150.00          2
3001.38         2
300.18          2
30.00           2
1.74            2
18600.00        1
10141.56        1
18004.86        1
9003.93         1
4500.09         1
            ...
1050.18         1
3285.63         1
1.20            1
1.80            1
120.06          1
4500.51         1
9000.27         1
40.05           1
72134.91        1
10587.21        1
360.00          1
1513.14         1
3902.25         1
780.06          1
24000.00        1
75000.00        1
17111.37        1
720.27          1
13500.00        1
147.00          1
5647.08         1
4801.59         1
150.12          1
0.60            1
3600.36         1
1179.00         1
5401.11         1
2701.68         1
1950.00         1
2.28            1
Name: saldo_var14, Length: 335, dtype: int64
0.00         75712
2646.96          1
92098.26         1
90150.84         1
586.92           1
29915.07         1
104454.81        1
35585.25         1
17412.57         1
3231.96          1
30397.14         1
28.74            1
16068.21         1
18085.59         1
25487.70         1
3639.72          1
9213.09          1
15742.23         1
98348.04         1
150499.41        1
83517.12         1
115229.04        1
11731.23         1
19433.46         1
15356.25         1
24477.87         1
139142.25        1
8968.74          1
14958.12         1
14996.85         1
             ...
36282.66         1
26140.08         1
13251.06         1
2567.64          1
3049.53          1
302.25           1
3034.41          1
4354.74          1
32114.22         1
74212.11         1
14995.47         1
2358.21          1
29745.54         1
893.04           1
15070.23         1
557236.17        1
91159.14         1
300090.69        1
45054.21         1
34622.91         1
36633.12         1
13636.92         1
121514.16        1
35267.04         1
121094.91        1
92479.14         1
97943.13         1
12243.15         1
3614.61          1
27041.07         1
Name: saldo_var17, Length: 107, dtype: int64
0         75817
240000        1
Name: saldo_var18, dtype: int64
0.00        75633
300.12          6
30.00           3
120.03          3
3001.20         3
2851.14         2
1050.00         2
3.00            2
60.03           2
0.42            2
6.00            2
3001.44         2
6375.00         2
300.03          2
450.09          2
360.09          2
3150.75         2
900.39          2
1050.39         2
174.06          1
138.63          1
5851.38         1
12203.70        1
292.14          1
510.15          1
1365.00         1
2334.57         1
2448.30         1
2100.03         1
2400.69         1
            ...
540.09          1
945.36          1
3150.30         1
12.00           1
18034.32        1
4800.51         1
978.42          1
90.06           1
750.30          1
6000.90         1
2311.02         1
2790.69         1
210.12          1
37.47           1
900.36          1
862.62          1
3001.41         1
1201.50         1
150.00          1
660.06          1
6002.19         1
750.18          1
4126.65         1
3222.81         1
1500.39         1
360.06          1
450.15          1
1998.33         1
150.06          1
3312.75         1
Name: saldo_var20, Length: 161, dtype: int64
0.00          72933
90000.00          9
300000.00         9
30000.00          8
60000.00          8
15000.00          7
60069.42          6
60079.71          6
3000.00           5
36000.00          5
300403.59         5
45000.00          5
210549.36         5
150180.00         4
150199.26         4
120159.42         4
120313.92         4
18000.00          4
75096.42          4
240627.78         4
90115.71          4
60156.96          4
150000.00         4
150392.37         4
27000.00          4
360000.00         4
600000.00         4
300784.74         4
300385.68         4
225000.00         4
              ...
115632.90         1
990.51            1
51106.41          1
134566.29         1
18652.86          1
4204.47           1
32071.26          1
307532.13         1
204533.64         1
162216.90         1
195000.90         1
165417.45         1
12913.26          1
751974.51         1
549136.56         1
360487.26         1
189312.99         1
720905.52         1
360478.26         1
90.36             1
88348.59          1
51136.41          1
118907.58         1
144879.57         1
107529.81         1
300372.84         1
344419.32         1
57074.94          1
391048.77         1
1203139.02        1
Name: saldo_var24, Length: 2633, dtype: int64
0.00       73855
1278.00      129
639.00        10
3000.00        9
761.07         8
1500.00        8
681.60         7
900.00         7
882.00         7
1200.00        6
3600.00        6
600.00         5
1764.00        5
1800.00        5
750.00         5
1643.07        5
2700.00        5
1065.00        4
1451.73        4
1745.73        4
150.00         4
761.64         4
1745.64        4
766.80         4
1192.80        4
3030.00        4
761.55         4
863.73         3
2100.00        3
1643.64        3
           ...
6237.78        1
2593.11        1
3912.48        1
1577.37        1
2308.17        1
3610.80        1
1001.07        1
1202.52        1
5883.33        1
6953.07        1
428.37         1
4505.49        1
9189.78        1
181.53         1
1148.91        1
1780.20        1
829.92         1
780.09         1
889.65         1
2075.70        1
2979.03        1
3448.29        1
3391.83        1
5759.16        1
565.53         1
769.80         1
1183.29        1
1449.00        1
1096.53        1
9225.00        1
Name: saldo_var26, Length: 1652, dtype: int64
0.00       73940
1278.00      132
639.00        10
3000.00        9
761.07         8
681.60         7
882.00         7
1500.00        7
900.00         6
1200.00        6
3600.00        6
1643.07        5
1800.00        5
1764.00        5
2700.00        5
600.00         4
1745.73        4
150.00         4
1065.00        4
1192.80        4
1745.64        4
3030.00        4
761.55         4
761.64         4
750.00         4
1451.73        4
766.80         4
2333.73        3
863.73         3
1503.00        3
           ...
3065.40        1
1334.13        1
6209.97        1
3397.77        1
5869.17        1
332.97         1
4618.59        1
1148.91        1
565.53         1
1780.20        1
829.92         1
780.09         1
889.65         1
2075.70        1
2979.03        1
3448.29        1
3391.83        1
5759.16        1
769.80         1
3172.26        1
1183.29        1
1449.00        1
1096.53        1
1202.52        1
3610.80        1
2549.34        1
2308.17        1
1962.75        1
1399.59        1
66.60          1
Name: saldo_var25, Length: 1577, dtype: int64
0    75818
Name: saldo_var28, dtype: int64
0    75818
Name: saldo_var27, dtype: int64
0.0        75816
9950.1         1
12627.0        1
Name: saldo_var29, dtype: int64
0.00         20170
3.00         18529
90.00         5276
30.00         1577
15.00         1514
6.00           893
150.00         797
60.00          687
300.00         420
120.00         293
9.00           166
600.00         151
93.00          150
450.00         106

0.00       70945
159.21        26
160.77        20
6.00          17
30.00         17
120.12        16
25.38         16
72.60         15
300.00        15
60.00         14
15.00         11
150.00        11
21.78         10
793.29        10
90.00         10
120.00        10
45.00          9
43.56          9
180.00         9
785.52         8
59.70          8
126.69         8
14.49          8
18.00          7
36.00          7
126.84         7
58.08          7
112.17         6
17.97          6
3.00           6
           ...
5368.77        1
225.21         1
620.43         1
14.46          1
879.57         1
1805.40        1
131.58         1
1273.17        1
676.14         1
79.62          1
38.19          1
20.37          1
51.33          1
288.90         1
1021.35        1
72.42          1
192.45         1
144.12         1
7147.80        1
233.16         1
894.90         1
75.78          1
229.89         1
387.15         1
583.98         1
289.92         1
438.78         1
527.16         1
1468.77        1
2386.17        1
Name: saldo_var37, Length: 3977, dtype: int64
0.00       75523
120.00         4
390.00         2
2700.00        2
4635.00        2
1486.44        1
4500.00        1
240.00         1
1890.00        1
141.03         1
1470.09        1
324.66         1
119.97         1
621.84         1
208.77         1
961.86         1
2993.61        1
1671.03        1
1302.36        1
426.72         1
742.95         1
179.82         1
201.06         1
3178.83        1
26.46          1
2837.37        1
450.00         1
8683.62        1
1482.87        1
2516.55        1
           ...
108.54         1
194.70         1
315.30         1
24.00          1
256.83         1
124.86         1
870.63         1
1740.51        1
1729.50        1
242.49         1
322.11         1
501.27         1
1658.31        1
1800.00        1
1728.36        1
2996.97        1
766.71         1
5735.16        1
1396.41        1
986.01         1
75.00          1
538.56         1
437.52         1
365.25         1
225.54         1
494.19         1
3798.93        1
118.74         1
817.83         1
846.51         1
Name: saldo_var40, Length: 290, dtype: int64
0    75818
Name: saldo_var41, dtype: int64
0.00         21736
3.00         18803
90.00         5293
30.00         1722
15.00         1628
6.00           996
150.00         869
60.00          776
300.00         456
120.00         305
9.00           178
600.00         162
93.00          151
45.00          121
450.00         114
180.00          98
3000.00         96
1500.00         96
900.00          94
153.00          89
1.50            87
75.00           79
12.00           79
0.30            75
33.00           74
303.00          73
18.00           64
1200.00         63
240.00          59
0.03            59
             ...
186396.69        1
2078.70          1
30337.29         1
3836.82          1
179981.73        1
76083.75         1
514.56           1
617.07           1
4755.00          1
147202.98        1
51375.21         1
8724.51          1
193.95           1
1198.74          1
531.15           1
356.76           1
909.09           1
72188.34         1
99973.02         1
2168.76          1
94963.62         1
175.23           1
51087.66         1
83586.27         1
1602.72          1
84.33            1
350.01           1
72191.34         1
626.88           1
38654.28         1
Name: saldo_var42, Length: 15625, dtype: int64
0.00         75679
4830.00          2
498089.79        1
189.30           1
75138.24         1
14934.00         1
5185.20          1
794.43           1
1530.57          1
9405.48          1
33287.40         1
7425.00          1
3843.36          1
457.38           1
304564.53        1
83998.53         1
234.00           1
17796.00         1
34624.26         1
96889.68         1
60474.96         1
120.00           1
1321.80          1
61275.00         1
342.99           1
402106.95        1
7609.50          1
8916.00          1
2570.91          1
178462.56        1
             ...
133926.36        1
7953.45          1
2743.62          1
1947.00          1
6281.22          1
3826.44          1
62018.82         1
10324.05         1
4799.79          1
2032.95          1
13614.00         1
19862.01         1
72386.34         1
8790.00          1
9039.30          1
2938.02          1
12457.20         1
21815.73         1
28171.05         1
63254.07         1
113494.20        1
1494.33          1
189.60           1
2742.81          1
8125.20          1
13810.50         1
57592.74         1
240690.39        1
38958.00         1
45264.00         1
Name: saldo_var44, Length: 139, dtype: int64
0    75818
Name: saldo_var46, dtype: int64
99    30095
3     22216
1     14368
2      8768
0       371
Name: var36, dtype: int64
0             75817
9999999999        1
Name: delta_imp_amort_var18_1y3, dtype: int64
0             75816
9999999999        2
Name: delta_imp_amort_var34_1y3, dtype: int64
 0.000000e+00    73762
-1.000000e+00     1653
 1.000000e+10      377
-1.400000e-01        1
-6.365032e-01        1
 5.000000e-01        1
-2.500000e-01        1
 1.010000e+00        1
-8.600000e-01        1
-6.000000e-01        1
-8.211786e-01        1
 2.537200e+00        1
-1.666667e-01        1
-3.225806e-01        1
-6.031746e-01        1
-8.250875e-01        1
 8.358209e-01        1
-3.846154e-02        1
-7.400000e-01        1
-4.363929e-01        1
-2.702703e-01        1
-7.142857e-01        1
-7.500000e-02        1
 1.328667e-01        1
-1.000000e-01        1
-9.638554e-02        1
 9.996001e-01        1
-3.333333e-01        1
-1.650000e-01        1
Name: delta_imp_aport_var13_1y3, dtype: int64
 0.000000e+00    75758
 1.000000e+10       37
-1.000000e+00       19
-6.842209e-01        1
 1.558365e+00        1
 4.000000e+00        1
-5.000000e-01        1
Name: delta_imp_aport_var17_1y3, dtype: int64
 0.000000e+00    75790
-1.000000e+00       13
 1.000000e+10       10
-9.090909e-01        1
-9.436364e-01        1
-9.862500e-01        1
 5.714286e-01        1
-5.000000e-01        1
Name: delta_imp_aport_var33_1y3, dtype: int64
 0.000000e+00    75714
 1.000000e+10       78
-1.000000e+00       14
 3.631642e+00        1
-9.807321e-01        1
-6.930954e-01        1
-1.139841e-01        1
-7.212994e-01        1
 7.008561e-01        1
-9.525373e-01        1
-9.502181e-01        1
-8.747817e-01        1
-6.061403e-01        1
-9.614851e-01        1
-3.280756e-01        1
Name: delta_imp_compra_var44_1y3, dtype: int64
0             75791
9999999999       27
Name: delta_imp_reemb_var13_1y3, dtype: int64
0             75807
9999999999       11
Name: delta_imp_reemb_var17_1y3, dtype: int64
0    75818
Name: delta_imp_reemb_var33_1y3, dtype: int64
 0             75804
 9999999999        8
-1                 6
Name: delta_imp_trasp_var17_in_1y3, dtype: int64
0    75818
Name: delta_imp_trasp_var17_out_1y3, dtype: int64
 0             75799
 9999999999       12
-1                 7
Name: delta_imp_trasp_var33_in_1y3, dtype: int64
0             75817
9999999999        1
Name: delta_imp_trasp_var33_out_1y3, dtype: int64
 0.000000e+00    75782
 1.000000e+10       31
-1.000000e+00        2
-6.356822e-01        1
 1.742737e+00        1
 3.466250e+00        1
Name: delta_imp_venta_var44_1y3, dtype: int64
 0.000000e+00    73779
-1.000000e+00     1653
 1.000000e+10      377
-5.000000e-01        4
 1.000000e+00        2
 3.000000e+00        2
 2.000000e+00        1
Name: delta_num_aport_var13_1y3, dtype: int64
 0.000000e+00    75760
 1.000000e+10       37
-1.000000e+00       19
-5.384615e-01        1
 1.000000e+00        1
Name: delta_num_aport_var17_1y3, dtype: int64
 0.000000e+00    75792
-1.000000e+00       13
 1.000000e+10       10
 1.000000e+00        2
-5.000000e-01        1
Name: delta_num_aport_var33_1y3, dtype: int64
 0.000000e+00    75716
 1.000000e+10       78
-1.000000e+00       14
 1.000000e+00        3
-8.333333e-01        1
 2.000000e-01        1
 5.000000e+00        1
-8.666667e-01        1
-7.500000e-01        1
-6.666667e-01        1
-5.000000e-01        1
Name: delta_num_compra_var44_1y3, dtype: int64
0             75791
9999999999       27
Name: delta_num_reemb_var13_1y3, dtype: int64
0             75807
9999999999       11
Name: delta_num_reemb_var17_1y3, dtype: int64
0    75818
Name: delta_num_reemb_var33_1y3, dtype: int64
 0             75804
 9999999999        8
-1                 6
Name: delta_num_trasp_var17_in_1y3, dtype: int64
0    75818
Name: delta_num_trasp_var17_out_1y3, dtype: int64
 0             75799
 9999999999       12
-1                 7
Name: delta_num_trasp_var33_in_1y3, dtype: int64
0             75817
9999999999        1
Name: delta_num_trasp_var33_out_1y3, dtype: int64
 0.000000e+00    75782
 1.000000e+10       31
-1.000000e+00        2
-3.333333e-01        1
 6.000000e+00        1
-5.000000e-01        1
Name: delta_num_venta_var44_1y3, dtype: int64
0    75818
Name: imp_amort_var18_hace3, dtype: int64
0.00       75817
2672.43        1
Name: imp_amort_var18_ult1, dtype: int64
0    75818
Name: imp_amort_var34_hace3, dtype: int64
0.00      75816
647.61        1
994.47        1
Name: imp_amort_var34_ult1, dtype: int64
0.00         74137
90000.00        97
75000.00        70
150000.00       70
300000.00       69
30000.00        68
120000.00       56
60000.00        54
180000.00       47
18000.00        39
450000.00       38
45000.00        36
36000.00        34
3000.00         30
300.00          28
105000.00       28
270000.00       27
15000.00        24
240000.00       19
135000.00       18
54000.00        18
225000.00       17
210000.00       17
24000.00        16
72000.00        13
78000.00        13
1500.00         12
195000.00       12
108000.00       12
6000.00         11
             ...
3900.00          1
74396.97         1
151350.00        1
76345.56         1
360.00           1
290110.89        1
75888.00         1
108003.00        1
150300.00        1
366060.00        1
299997.00        1
30900.00         1
37284.00         1
45483.00         1
75423.72         1
298680.00        1
5700.00          1
900000.00        1
51513.87         1
300003.00        1
183003.00        1
150003.00        1
75003.00         1
150015.00        1
150060.00        1
124200.00        1
62103.00         1
150150.00        1
183000.00        1
76500.00         1
Name: imp_aport_var13_hace3, Length: 436, dtype: int64
0.00         75413
90000.00        26
30000.00        25
150000.00       18
120000.00       16
60000.00        14
75000.00        14
300000.00       13
45000.00        12
15000.00        12
180000.00       11
18000.00         7
12000.00         7
36000.00         7
21000.00         6
450000.00        6
3000.00          5
27000.00         5
108000.00        5
54000.00         5
135000.00        5
75003.00         4
81000.00         4
240000.00        4
9000.00          3
270000.00        3
57000.00         3
150003.00        3
96000.00         3
225000.00        3
             ...
15021.00         1
285000.00        1
52200.00         1
42576.60         1
52500.00         1
420006.00        1
105300.00        1
69000.00         1
165000.00        1
63001.92         1
216000.00        1
89700.00         1
26529.00         1
1582.92          1
90015.00         1
90060.00         1
90150.00         1
36900.00         1
246003.00        1
90306.00         1
317180.55        1
180669.00        1
162000.00        1
297003.00        1
70484.76         1
52776.96         1
1500.00          1
193258.92        1
75030.00         1
201683.40        1
Name: imp_aport_var13_ult1, Length: 163, dtype: int64
0.00         75794
18000.00         3
15000.00         3
45000.00         2
30000.00         1
3078.36          1
2400.00          1
56998.65         1
150000.00        1
30.00            1
90000.00         1
33254.73         1
555824.40        1
1803.06          1
120000.00        1
493.68           1
113478.90        1
6000.00          1
300002.58        1
28200.00         1
Name: imp_aport_var17_hace3, dtype: int64
0.00         75776
3000.00          5
15000.00         3
30000.00         2
3600.00          2
6000.00          2
75000.00         2
15093.39         1
16199.70         1
2700.00          1
9058.65          1
339075.00        1
120000.00        1
6626.94          1
4500.00          1
211775.58        1
33000.00         1
113905.77        1
199665.84        1
15553.77         1
1223.46          1
72145.89         1
17998.98         1
9000.00          1
582.00           1
24000.00         1
27000.00         1
150.00           1
29953.77         1
12000.00         1
52577.76         1
139195.98        1
36000.00         1
Name: imp_aport_var17_ult1, dtype: int64
0.00        75798
300.00          3
90.00           2
9000.00         2
15000.00        2
24000.00        1
36497.67        1
1650.00         1
18000.00        1
3300.00         1
10500.00        1
25080.00        1
4200.00         1
4500.00         1
900.00          1
90.15           1
Name: imp_aport_var33_hace3, dtype: int64
0.00        75801
150.00          3
300.00          2
90.15           1
3000.00         1
93.00           1
1200.00         1
1386.81         1
180.00          1
6000.00         1
105.00          1
6600.00         1
24000.00        1
330.00          1
180.30          1
Name: imp_aport_var33_ult1, dtype: int64
0         75816
300000        1
526500        1
Name: imp_var7_emit_ult1, dtype: int64
0.00         75630
300000.00        5
900.00           4
75000.00         3
3000.00          3
30000.00         3
1500.00          3
90000.00         2
225000.00        2
2370.00          2
18000.00         2
90.00            2
15000.00         2
60000.00         2
3600.00          2
270.00           2
434.46           1
720000.00        1
165000.00        1
548928.54        1
204.00           1
1374.00          1
4148.43          1
14127.06         1
1113.00          1
231000.00        1
6131.85          1
171.00           1
1125.00          1
11625.00         1
             ...
4710.00          1
480000.00        1
249.60           1
671.55           1
6000.00          1
453.78           1
405.54           1
135.00           1
53527.50         1
1194.00          1
2895.27          1
1200.00          1
8420.70          1
120000.00        1
158647.44        1
204000.00        1
16500.00         1
5403.48          1
429.06           1
3370.92          1
880.65           1
186000.00        1
577.77           1
878.79           1
340.32           1
2400.00          1
150000.00        1
153300.00        1
7336.98          1
2250.00          1
Name: imp_var7_recib_ult1, Length: 165, dtype: int64
0.00         75792
16060.80         1
461580.00        1
90463.32         1
129758.16        1
195203.73        1
24327.21         1
398071.20        1
81508.98         1
6027.60          1
167140.35        1
237142.65        1
55990.80         1
133707.09        1
51739.05         1
596253.00        1
8771.22          1
76703.28         1
88677.48         1
15929.34         1
85853.67         1
77190.30         1
7060.50          1
82550.67         1
16224.00         1
257448.87        1
362926.50        1
Name: imp_compra_var44_hace3, dtype: int64
0.00         75728
458175.42        1
189.30           1
2822.88          1
1112.49          1
484.14           1
3587.85          1
2367.12          1
17880.00         1
8967.00          1
10637.61         1
17970.00         1
8991.00          1
11955.69         1
2166.90          1
7730.13          1
7172.82          1
12212.79         1
56188.95         1
6586.83          1
358124.25        1
2787.33          1
59773.98         1
6620.04          1
18696.60         1
128893.26        1
114768.00        1
936.96           1
112776.33        1
19199.10         1
             ...
14.79            1
3858.66          1
348.72           1
2581.56          1
31740.45         1
191.31           1
6827.67          1
8477.04          1
8788.32          1
15045.99         1
1911.99          1
1526.64          1
295024.50        1
12609.30         1
148089.00        1
6935.70          1
16530.33         1
3876.00          1
29694.60         1
61226.46         1
13688.82         1
39.27            1
61.32            1
508.80           1
1981.77          1
6909.42          1
45278.28         1
7887.00          1
9619.92          1
19826.85         1
Name: imp_compra_var44_ult1, Length: 91, dtype: int64
0    75818
Name: imp_reemb_var13_hace3, dtype: int64
0         75791
75000         3
90000         3
270000        2
10500         1
21000         1
24000         1
81000         1
165000        1
18000         1
105000        1
139800        1
30000         1
1500          1
250500        1
366060        1
30060         1
12000         1
87000         1
150000        1
120000        1
116100        1
45000         1
Name: imp_reemb_var13_ult1, dtype: int64
0    75818
Name: imp_reemb_var17_hace3, dtype: int64
0.00         75807
80943.39         1
3626.94          1
35614.92         1
65051.34         1
1385.52          1
8182.35          1
17700.00         1
34329.75         1
58785.18         1
34616.64         1
211775.58        1
Name: imp_reemb_var17_ult1, dtype: int64
0    75818
Name: imp_reemb_var33_hace3, dtype: int64
0    75818
Name: imp_reemb_var33_ult1, dtype: int64
0.00         70662
1500.00        125
3000.00        111
300.00         109
600.00          95
150.00          86
90.00           85
900.00          77
30.00           77
1200.00         75
450.00          69
60.00           65
1800.00         64
750.00          51
6000.00         48
120.00          44
180.00          41
2100.00         39
1050.00         33
75.00           32
210.00          31
3600.00         30
1650.00         30
15.00           30
2700.00         29
2400.00         28
1950.00         28
1350.00         28
3.00            28
9000.00         27
             ...
846.00           1
1601.34          1
54150.00         1
9394.92          1
3897.00          1
27084.00         1
1953.00          1
4725.00          1
3144.39          1
290.37           1
124.95           1
706.50           1
300051.69        1
1521.33          1
1740.45          1
32400.00         1
1063.32          1
78.96            1
46032.00         1
1996.95          1
7440.39          1
5940.00          1
269.40           1
7803.00          1
4328.10          1
1695.00          1
164.79           1
5793.00          1
2367.00          1
4992.00          1
Name: imp_var43_emit_ult1, Length: 2374, dtype: int64
0.00        66140
300.00        427
600.00        353
1500.00       297
3000.00       242
900.00        237
150.00        221
450.00        174
1200.00       171
1800.00       128
750.00        120
60.00         103
90.00          94
6000.00        91
180.00         89
30.00          85
1050.00        80
360.00         74
2400.00        68
2100.00        68
120.00         67
240.00         62
1350.00        54
9000.00        54
3600.00        54
1650.00        46
210.00         44
2700.00        42
270.00         42
4500.00        42
            ...
10.53           1
1486.17         1
12492.21        1
656.25          1
1269.30         1
15750.00        1
1062.87         1
316.05          1
1783.80         1
1061.37         1
150.81          1
11280.00        1
3408.48         1
16.92           1
2324.67         1
849.00          1
75900.00        1
3560.10         1
27150.00        1
4920.00         1
1441.50         1
7095.00         1
15.90           1
2059.05         1
92.88           1
1802.10         1
21.54           1
75003.00        1
1224.00         1
243.66          1
Name: imp_trans_var37_ult1, Length: 3755, dtype: int64
0.00         75812
6000.00          1
1803.06          1
33254.73         1
555824.40        1
493.68           1
113478.90        1
Name: imp_trasp_var17_in_hace3, dtype: int64
0.00         75810
199665.84        1
139195.98        1
300.09           1
14953.77         1
72145.89         1
15553.77         1
113905.77        1
9058.65          1
Name: imp_trasp_var17_in_ult1, dtype: int64

0    68857
1     6961
Name: ind_var10cte_ult1, dtype: int64
0    68467
1     7351
Name: ind_var9_cte_ult1, dtype: int64
0    69256
1     6562
Name: ind_var9_ult1, dtype: int64
0    70662
1     5156
Name: ind_var43_emit_ult1, dtype: int64
0    66140
1     9678
Name: ind_var43_recib_ult1, dtype: int64
0        74902
900        262
1800       222
4500        98
3000        78
3600        60
7200        59
2700        41
1500        24
6000        22
1200        21
9000        12
2400         4
5400         3
15000        2
4200         2
18000        1
7500         1
5100         1
2100         1
6900         1
3900         1
Name: var21, dtype: int64
0    75818
Name: num_var2_0_ult1, dtype: int64
0    75818
Name: num_var2_ult1, dtype: int64
0     74137
3      1542
6        93
9        26
12       18
18        1
15        1
Name: num_aport_var13_hace3, dtype: int64
0     75413
3       374
6        20
9         6
12        5
Name: num_aport_var13_ult1, dtype: int64
0     75794
3        19
6         3
39        1
9         1
Name: num_aport_var17_hace3, dtype: int64
0     75776
3        25
6        11
24        2
27        1
18        1
15        1
12        1
Name: num_aport_var17_ult1, dtype: int64
0    75798
3       16
6        3
9        1
Name: num_aport_var33_hace3, dtype: int64
0     75801
3        14
6         2
12        1
Name: num_aport_var33_ult1, dtype: int64
0    75816
9        1
3        1
Name: num_var7_emit_ult1, dtype: int64
0     75630
3       166
6        19
9         2
12        1
Name: num_var7_recib_ult1, dtype: int64
0     75792
3        13
9         4
15        2
12        2
6         2
45        1
24        1
18        1
Name: num_compra_var44_hace3, dtype: int64
0     75728
3        42
6        29
9         7
12        6
18        3
51        1
27        1
15        1
Name: num_compra_var44_ult1, dtype: int64
0     72215
3      2917
6       499
9       116
12       33
15       16
18        9
21        4
36        2
63        1
54        1
39        1
33        1
30        1
24        1
84        1
Name: num_ent_var16_ult1, dtype: int64
0     60439
3      7488
6      3646
9      1980
12     1020
15      536
18      288
21      168
24       99
27       66
30       30
33       19
36       15
42        5
39        4
48        4
45        3
51        3
54        2
78        1
69        1
63        1
Name: num_var22_hace2, dtype: int64
0     61736
3      6957
6      3295
9      1718
12      933
15      490
18      289
21      174
24       95
27       54
30       23
33       23
36       14
39        7
48        3
45        3
42        2
75        1
63        1
Name: num_var22_hace3, dtype: int64
0     67821
3      4749
6      1809
9       769
12      349
15      160
18       73
21       33
24       19
27       11
33        8
30        6
48        3
36        3
39        2
42        1
45        1
51        1
Name: num_var22_ult1, dtype: int64
0      49965
3       9125
6       5519
9       3753
12      2453
15      1638
18      1143
21       728
24       508
27       304
30       204
33       139
36        93
39        57
42        52
45        32
48        27
51        17
63        13
54        12
60         9
69         5
57         4
84         3
108        3
66         3
87         2
72         2
96         1
99         1
105        1
129        1
93         1
Name: num_var22_ult3, dtype: int64
0     64609
3      7844
6      2379
9       647
12      202
15       76
18       25
21       21
27        5
36        3
33        2
30        2
24        2
42        1
Name: num_med_var22_ult3, dtype: int64
0      51369
3       8221
6       4533
9       3073
12      2091
15      1497
18       994
21       752
24       604
27       453
30       371
33       283
36       224
39       203
42       154
45       117
48        99
54        89
51        77
60        63
57        58
63        51
66        43
69        43
75        35
72        31
81        26
84        24
87        22
78        21
       ...
129        9
117        8
108        8
123        7
114        6
150        6
105        6
126        5
144        5
138        5
159        4
141        4
147        3
132        3
120        3
162        3
183        3
165        2
153        2
156        2
267        1
204        1
273        1
228        1
135        1
186        1
210        1
171        1
222        1
231        1
Name: num_med_var45_ult3, Length: 66, dtype: int64
3    42722
0    20375
2     9453
1     3268
Name: num_meses_var5_ult3, dtype: int64
0    73504
1      917
2      915
3      482
Name: num_meses_var8_ult3, dtype: int64
0    72360
2     1744
3     1234
1      480
Name: num_meses_var12_ult3, dtype: int64
0    72523
2     1672
3     1269
1      354
Name: num_meses_var13_corto_ult3, dtype: int64
0    75230
3      327
2      196
1       65
Name: num_meses_var13_largo_ult3, dtype: int64
0    75813
2        5
Name: num_meses_var13_medio_ult3, dtype: int64
0    75705
2       62
1       33
3       18
Name: num_meses_var17_ult3, dtype: int64
0    75814
2        2
1        2
Name: num_meses_var29_ult3, dtype: int64
0    75758
2       27
3       20
1       13
Name: num_meses_var33_ult3, dtype: int64
2    54684
1    10858
0     9967
3      309
Name: num_meses_var39_vig_ult3, dtype: int64
0    75665
2       68
1       59
3       26
Name: num_meses_var44_ult3, dtype: int64
0      65897
3       2631
6       1523
9       1037
12       762
15       580
18       509
21       427
27       329
24       325
30       288
33       229
36       176
39       156
42       144
45       113
48        91
54        83
51        69
57        67
60        47
63        44
69        34
66        32
72        24
87        22
78        21
75        20
90        14
81        13
       ...
93         8
105        6
123        5
126        4
117        4
99         4
114        4
165        3
246        3
150        3
120        3
132        2
141        2
111        2
156        2
135        2
162        2
321        1
129        1
174        1
138        1
225        1
171        1
180        1
144        1
159        1
210        1
147        1
240        1
204        1
Name: num_op_var39_comer_ult1, Length: 64, dtype: int64
0      64099
3       2621
6       1604
9       1155
12       850
15       649
18       571
21       444
24       396
27       347
30       337
33       289
39       244
36       218
42       198
45       178
48       141
51       124
54       119
60       109
57       105
63        87
69        73
66        69
72        66
75        57
84        56
87        47
78        46
81        43
       ...
282        2
405        2
192        2
201        2
387        1
195        1
315        1
261        1
189        1
450        1
228        1
231        1
237        1
345        1
393        1
429        1
249        1
279        1
438        1
219        1
336        1
246        1
240        1
423        1
276        1
243        1
177        1
342        1
306        1
351        1
Name: num_op_var39_comer_ult3, Length: 101, dtype: int64
0      75498
3         80
9         43
6         40
12        28
15        22
18        15
21        11
30        10
33        10
39         8
24         8
45         7
42         7
27         7
48         6
36         4
57         3
54         2
72         1
69         1
60         1
78         1
81         1
102        1
51         1
120        1
90         1
Name: num_op_var40_comer_ult1, dtype: int64
0      75452
3         70
6         44
9         38
12        32
21        17
15        16
30        14
18        12
27        12
24        11
45         9
36         9
48         8
39         8
33         8
63         6
42         6
54         4
51         4
126        3
165        2
81         2
66         2
60         2
135        2
75         2
147        2
93         2
87         2
72         1
129        1
102        1
96         1
69         1
249        1
198        1
105        1
108        1
114        1
138        1
117        1
141        1
99         1
150        1
177        1
78         1
Name: num_op_var40_comer_ult3, dtype: int64
0     75777
3        18
6        13
12        4
9         2
33        1
24        1
21        1
15        1
Name: num_op_var40_efect_ult1, dtype: int64
0     75771
3        18
6        13
9         5
21        3
15        3
12        3
33        1
24        1
Name: num_op_var40_efect_ult3, dtype: int64
0      66064
3       2616
6       1506
9       1020
12       748
15       567
18       501
21       421
24       328
27       323
30       279
33       218
36       176
39       150
42       141
45       107
48        87
54        80
51        72
57        60
60        46
63        41
69        31
66        28
87        22
75        22
78        20
72        19
81        14
90        13
       ...
93         8
96         7
108        6
105        5
123        4
114        4
126        4
99         4
150        3
246        3
117        3
165        3
135        2
120        2
156        2
111        2
162        2
132        2
129        1
321        1
174        1
225        1
144        1
180        1
159        1
210        1
216        1
204        1
141        1
171        1
Name: num_op_var41_comer_ult1, Length: 62, dtype: int64
0      64272
3       2623
6       1581
9       1142
12       841
15       641
18       568
21       443
24       388
27       337
30       333
33       285
39       235
36       210
42       198
45       172
48       132
54       122
51       119
60       109
57       105
63        82
69        70
66        69
72        67
75        55
84        52
78        46
87        46
81        41
       ...
228        2
213        2
225        2
255        2
198        1
192        1
351        1
315        1
258        1
345        1
195        1
387        1
288        1
249        1
261        1
279        1
429        1
276        1
246        1
336        1
243        1
201        1
342        1
306        1
177        1
240        1
396        1
405        1
231        1
390        1
Name: num_op_var41_comer_ult3, Length: 99, dtype: int64
0     69220
3      2741
6      1340
9       814
12      556
15      365
18      246
21      162
24      124
27       76
30       56
33       31
36       24
39       20
42       12
45        8
48        8
51        3
63        3
60        2
75        2
54        2
72        1
57        1
66        1
Name: num_op_var41_efect_ult1, dtype: int64
0      67235
3       3251
6       1508
9       1002
12       655
15       501
18       379
21       286
24       228
27       139
30       129
33        99
36        83
39        57
42        49
45        46
48        28
51        25
54        21
63        15
57        15
60        12
66        11
93         8
69         6
72         5
78         4
102        3
75         3
81         3
87         2
120        2
84         2
90         2
138        1
111        1
96         1
156        1
Name: num_op_var41_efect_ult3, dtype: int64
0     69210
3      2746
6      1333
9       815
12      557
15      363
18      252
21      164
24      125
27       74
30       57
33       33
36       24
39       19
42       11
45       11
48        7
51        4
54        3
63        3
60        2
75        2
72        1
57        1
66        1
Name: num_op_var39_efect_ult1, dtype: int64
0      67227
3       3253
6       1508
9       1003
12       653
15       498
18       377
21       289
24       227
27       140
30       129
33       101
36        87
39        57
42        50
45        45
48        27
51        25
54        23
57        17
63        14
60        12
66        10
69         7
93         7
72         6
78         5
102        3
81         3
90         2
120        2
75         2
87         2
84         2
96         1
138        1
156        1
99         1
111        1
Name: num_op_var39_efect_ult3, dtype: int64
0    75818
Name: num_reemb_var13_hace3, dtype: int64
0    75791
3       27
Name: num_reemb_var13_ult1, dtype: int64
0    75818
Name: num_reemb_var17_hace3, dtype: int64
0     75807
9         6
3         4
12        1
Name: num_reemb_var17_ult1, dtype: int64
0    75818
Name: num_reemb_var33_hace3, dtype: int64
0    75818
Name: num_reemb_var33_ult1, dtype: int64
0    75720
3       85
6       11
9        2
Name: num_sal_var16_ult1, dtype: int64
0     70662
3      3047
6      1121
9       418
12      236
15      134
18       76
21       28
24       19
30       17
27       13
33       12
42        7
36        6
45        6
39        5
48        4
51        4
57        1
54        1
60        1
Name: num_var43_emit_ult1, dtype: int64
0      66140
3       5369
6       2209
9        919
12       486
15       222
18       123
21        91
24        52
27        42
30        28
36        21
33        19
39        15
45        12
42        11
48         8
63         6
51         6
54         5
60         5
57         4
81         4
93         3
69         2
156        1
66         1
132        1
246        1
135        1
72         1
270        1
117        1
78         1
108        1
147        1
102        1
87         1
159        1
90         1
282        1
Name: num_var43_recib_ult1, dtype: int64
0     74155
3      1031
6       325
9       139
12       64
15       35
18       23
21       13
24        8
27        6
36        6
33        3
39        3
42        2
51        1
30        1
45        1
48        1
57        1
Name: num_trasp_var11_ult1, dtype: int64
0    75812
3        4
6        2
Name: num_trasp_var17_in_hace3, dtype: int64
0    75810
3        6
6        2
Name: num_trasp_var17_in_ult1, dtype: int64
0    75818
Name: num_trasp_var17_out_hace3, dtype: int64
0    75818
Name: num_trasp_var17_out_ult1, dtype: int64
0    75811
3        7
Name: num_trasp_var33_in_hace3, dtype: int64
0    75806
3       11
6        1
Name: num_trasp_var33_in_ult1, dtype: int64
0    75818
Name: num_trasp_var33_out_hace3, dtype: int64
0    75817
3        1
Name: num_trasp_var33_out_ult1, dtype: int64
0     75813
3         2
24        1
9         1
6         1
Name: num_venta_var44_hace3, dtype: int64
0     75784
3        24
6         4
15        2
45        1
24        1
21        1
12        1
Name: num_venta_var44_ult1, dtype: int64
0      48779
3       8367
6       4583
9       3130
12      2137
15      1547
18      1260
21      1001
24       756
27       622
30       512
33       432
36       357
39       288
42       222
45       208
48       175
51       149
54       142
60       122
57        99
63        89
66        73
69        58
72        57
78        56
75        51
84        42
93        39
81        38
       ...
198        3
183        3
159        3
372        2
207        2
282        2
204        2
186        2
258        2
165        2
195        2
243        2
168        2
285        1
237        1
369        1
171        1
426        1
246        1
264        1
222        1
231        1
312        1
339        1
228        1
318        1
210        1
291        1
249        1
267        1
Name: num_var45_hace2, Length: 91, dtype: int64
0      50860
3       9411
6       4615
9       2758
12      1884
15      1357
18       946
21       746
24       610
27       493
30       368
33       315
36       213
39       172
42       139
45       137
51       106
48       104
57        75
54        74
60        67
63        52
66        40
69        36
72        28
93        21
75        21
78        17
81        16
87        16
90        15
84        15
102       10
99         9
96         8
105        8
108        7
111        7
123        4
114        4
117        4
132        3
156        3
120        3
138        3
144        2
135        2
126        2
150        2
141        2
183        1
177        1
201        1
147        1
162        1
165        1
192        1
153        1
Name: num_var45_hace3, dtype: int64
0      54279
3       7022
6       3802
9       2452
12      1692
15      1215
18       992
21       715
24       541
27       435
30       355
33       269
36       218
39       170
42       165
45       143
48       133
54        90
51        90
57        86
66        68
63        65
69        55
60        53
72        48
84        48
75        41
78        39
81        39
99        37
       ...
165        4
198        3
180        3
177        3
210        2
231        2
213        2
207        2
246        2
204        2
288        2
297        2
261        2
195        1
321        1
240        1
201        1
249        1
402        1
357        1
300        1
279        1
216        1
219        1
348        1
222        1
159        1
228        1
225        1
303        1
Name: num_var45_ult1, Length: 91, dtype: int64
0      38263
3       8487
6       4619
9       3458
12      2611
15      2152
18      1782
21      1515
24      1236
27      1182
30      1011
33       880
36       747
39       678
42       666
45       526
48       518
51       453
54       368
57       350
60       276
63       266
66       254
69       232
72       229
75       193
84       184
78       182
81       153
90       140
       ...
519        1
447        1
462        1
465        1
636        1
699        1
378        1
825        1
375        1
438        1
501        1
564        1
498        1
687        1
366        1
555        1
363        1
426        1
552        1
360        1
807        1
615        1
486        1
549        1
483        1
672        1
474        1
471        1
405        1
417        1
Name: num_var45_ult3, Length: 167, dtype: int64
0    75818
Name: saldo_var2_ult1, dtype: int64

 0.00        23017
 3.00        18400
 90.00        5715
 15.00        1516
 30.00        1336
 150.00        877
 6.00          841
 60.00         623
 300.00        366
 120.00        280
 2.76          149
 9.00          137
 2.88          127
 600.00        108
 450.00         83
 1.50           76
 2.67           76
 45.00          72
 93.00          65
 0.30           64
 3000.00        62
 12.00          59
 1500.00        59
 0.42           56
 2.55           50
 180.00         48
 900.00         48
 18.00          47
 2.61           46
 0.21           46
             ...
 1013.07         1
 12848.28        1
 1085.52         1
 56.55           1
 2806.44         1
 4918.68         1
 24260.01        1
 75588.00        1
 615.60          1
 2961.60         1
 487.17          1
 489.21          1
 5669.67         1
 506.91          1
 9450.00         1
 3082.56         1
 770.01          1
 79.65           1
 2449.35         1
 545.04          1
 1593.90         1
 1334.10         1
 277.62          1
 712.38          1
 597.27          1
 132.54          1
 905.49          1
 1421.04         1
-385.47          1
 253.41          1
Name: saldo_medio_var5_hace2, Length: 14556, dtype: int64
0.00        29472
0.09          986
0.18          908
0.99          700
2.61          695
0.27          643
2.55          608
2.40          607
1.05          604
0.87          537
8.70          521
0.51          511
1.59          509
2.31          506
1.74          497
1.83          472
2.91          455
0.39          440
0.42          418
2.13          414
0.21          398
1.44          391
0.72          384
2.22          381
0.48          371
2.52          363
1.95          360
2.67          355
2.34          351
1.86          341
            ...
499.80          1
290.82          1
6374.85         1
39201.60        1
9194.49         1
1887.06         1
224.61          1
4378.11         1
1146.03         1
513.84          1
42.78           1
704.01          1
1308.87         1
182.82          1
1261.11         1
97493.37        1
1159.77         1
25862.04        1
43551.33        1
24375.03        1
3484.65         1
67.83           1
1514.64         1
443.34          1
47419.35        1
5840.34         1
3725.82         1
176.94          1
1284.63         1
305.58          1
Name: saldo_medio_var5_hace3, Length: 7848, dtype: int64
0.00        24625
3.00        18847
90.00        5225
15.00        1588
30.00        1522
6.00          982
150.00        807
60.00         678
300.00        397
120.00        269
9.00          172
93.00         114
600.00        108
45.00          89
1.50           83
3000.00        80
12.00          69
450.00         69
0.30           63
1500.00        60
180.00         58
153.00         57
18.00          55
33.00          52
900.00         49
75.00          49
303.00         48
0.03           40
1200.00        36
105.00         35
            ...
7320.03         1
2341.02         1
3548.97         1
3027.03         1
313.08          1
578.01          1
53.43           1
1675.98         1
1054.68         1
780.66          1
19.74           1
78.54           1
199.11          1
475.11          1
547.11          1
1489.11         1
5160.00         1
79.17           1
157.41          1
10794.03        1
2291.70         1
4229.97         1
1027.50         1
61.89           1
158.52          1
4624.83         1
16.95           1
2324.97         1
55.65           1
253.41          1
Name: saldo_medio_var5_ult1, Length: 14551, dtype: int64
0.00        24625
2.88         1087
2.34         1015
2.07         1007
2.85          980
2.79          923
2.04          877
2.10          815
2.28          808
2.61          772
2.13          640
2.25          637
2.16          621
2.40          599
2.55          570
2.58          560
3.00          506
2.52          504
2.73          496
2.70          464
2.76          451
2.94          435
2.22          430
2.49          420
2.43          414
2.82          383
62.91         370
2.37          366
2.64          362
2.46          348
            ...
40466.19        1
1952.25         1
2621.61         1
154.83          1
2056.05         1
1995.48         1
7430.46         1
1089.03         1
216.84          1
7861.29         1
4069.65         1
450.90          1
5842.17         1
310.35          1
1336.38         1
2166.48         1
207.27          1
17287.83        1
817.53          1
84.42           1
235.68          1
9690.66         1
848.25          1
147.90          1
267.69          1
6088.80         1
3051.60         1
311.16          1
154.17          1
422.43          1
Name: saldo_medio_var5_ult3, Length: 17147, dtype: int64
0.00       74405
30.00         16
3.00          15
15.00         14
60.00         10
300.00         5
1500.00        5
6.00           4
90.00          3
1503.00        3
150.00         3
48.63          2
3000.00        2
75.00          2
868.44         2
107.16         2
111.27         2
139.05         2
1183.86        2
1.68           2
1093.38        2
252.93         2
10.65          2
918.84         2
8.28           2
58.05          2
29.04          2
145.77         1
405.75         1
7210.80        1
           ...
1391.31        1
1156.71        1
382.20         1
3066.84        1
1395.84        1
8184.93        1
730.26         1
2890.98        1
3618.36        1
577.23         1
1611.78        1
4281.48        1
166.11         1
1003.68        1
183.69         1
5077.80        1
1197.24        1
5076.30        1
3566.34        1
1.80           1
1212.48        1
255.24         1
3572.40        1
2446.41        1
2072.55        1
9933.63        1
3061.65        1
388.08         1
425.19         1
4014.90        1
Name: saldo_medio_var8_hace2, Length: 1330, dtype: int64
0.00       75331
0.09           5
3.87           5
0.18           4
2.07           4
1.59           4
1.92           3
9.69           3
14.52          3
82.77          3
0.51           3
0.42           3
4.83           3
9.63           2
967.71         2
12.09          2
44.52          2
1.44           2
3.99           2
2.88           2
0.60           2
0.48           2
17.43          2
8.01           2
1.98           2
2.49           2
2.13           2
9.00           2
600.00         2
39.96          2
           ...
6.03           1
3999.03        1
182.97         1
86.01          1
77.76          1
125.79         1
25.14          1
36.03          1
32.76          1
967.74         1
2806.44        1
353.13         1
354.87         1
217.35         1
90.00          1
36.00          1
30.66          1
10.77          1
11.61          1
53.07          1
1195.74        1
1140.00        1
362.19         1
1726.02        1
1854.63        1
1560.93        1
958.08         1
5254.98        1
1.80           1
724.23         1
Name: saldo_medio_var8_hace3, Length: 422, dtype: int64
0.00        73525
3.00           16
30.00          12
60.00          12
15.00          11
1500.00        10
150.00          6
300.00          4
90.00           4
6.00            4
1503.00         4
764.55          3
75.00           3
10.95           2
900.00          2
368.49          2
753.00          2
19.80           2
540.51          2
107.16          2
3203.88         2
211.56          2
14.82           2
633.87          2
306.27          2
451.20          2
772.71          2
272.94          2
598.05          2
12.00           2
            ...
192.45          1
636.21          1
1800.00         1
804.39          1
43.17           1
325.92          1
7594.74         1
8772.24         1
6124.05         1
953.58          1
1531.95         1
25676.16        1
8586.54         1
1073.13         1
428.13          1
4085.34         1
790.56          1
99.18           1
2900.25         1
6825.00         1
251.58          1
1713.27         1
17113.17        1
2201.94         1
3569.40         1
4804.83         1
1905.66         1
452.58          1
3108.39         1
1234.95         1
Name: saldo_medio_var8_ult1, Length: 2198, dtype: int64
0.00        73525
3.00            5
1500.00         4
15.00           4
1503.00         3
60.00           3
90.00           3
764.55          3
727.98          2
3565.47         2
2071.11         2
10.17           2
147.57          2
126.45          2
724.26          2
633.87          2
20.31           2
451.20          2
598.05          2
66.27           2
645.90          2
316.47          2
90.96           2
979.59          2
485.19          2
643.77          2
104.88          2
915.57          2
2.07            2
150.00          2
            ...
2884.23         1
3569.34         1
459.78          1
980.25          1
68.58           1
663.81          1
192.45          1
636.21          1
1548.15         1
4613.34         1
5772.21         1
152.76          1
2280.18         1
2081.64         1
1866.03         1
907.59          1
8586.54         1
21759.27        1
298.50          1
790.56          1
1272.45         1
2900.25         1
251.58          1
639.90          1
2089.86         1
17113.17        1
4804.83         1
6444.87         1
428.13          1
358.38          1
Name: saldo_medio_var8_ult3, Length: 2249, dtype: int64
0.00         72842
300.00          11
90000.00         5
180000.00        5
290.31           5
42580.65         4
2000.01          4
150000.00        4
150.00           4
60000.00         4
3000.27          3
9000.00          3
5000.01          3
387.12           3
1500.00          3
15483.87         3
12000.00         3
129000.00        3
27000.00         3
30000.00         3
135000.00        3
90.00            3
17419.35         3
300000.00        3
18580.65         3
1800.00          3
3000.42          2
291600.00        2
774.21           2
224516.13        2
             ...
1103.22          1
195619.26        1
225087.42        1
225102.42        1
108676.11        1
20362.47         1
31682.07         1
116647.98        1
180.03           1
4155.60          1
17599.98         1
10393.56         1
2903.25          1
92903.25         1
169548.36        1
177273.18        1
18036.54         1
55264.86         1
163264.26        1
19000.02         1
450039.84        1
15862.59         1
2999.97          1
531458.55        1
164091.30        1
190217.55        1
152922.00        1
12003.87         1
24009.99         1
204942.18        1
Name: saldo_medio_var12_hace2, Length: 2822, dtype: int64
0.00         74575
2903.22          6
30000.00         6
15000.00         5
9.99             5
38709.69         5
16071.42         4
11612.91         4
20000.01         4
2000.01          4
2499.99          4
42000.00         3
1354.86          3
4000.02          3
999.99           3
58064.52         3
50.01            3
40500.03         3
3000.00          3
10000.02         3
96774.18         3
0.09             3
4.83             3
600.00           2
29.04            2
6967.74          2
135.48           2
24.18            2
3.99             2
3103.44          2
             ...
92400.00         1
24677.40         1
15743.58         1
7134.45          1
4821.42          1
1267.20          1
26322.54         1
11.61            1
32000.01         1
35045.04         1
3483.87          1
19379.82         1
62.07            1
3783.87          1
19.98            1
170564.55        1
48435.48         1
222580.65        1
51387.12         1
249.99           1
5450.01          1
40210.98         1
223067.01        1
227499.99        1
2177.43          1
54193.50         1
10999.98         1
290.37           1
870.96           1
33874.35         1
Name: saldo_medio_var12_hace3, Length: 1119, dtype: int64
0.00         72367
300.06           6
60.00            5
30.00            5
60000.00         4
800000.01        4
0.42             4
3.09             3
300.09           3
0.03             3
30000.00         3
3.90             3
0.66             3
180000.00        3
300.00           3
300349.77        2
45.03            2
450384.39        2
300000.00        2
12.00            2
3001.05          2
10451.61         2
2718.24          2
3000.96          2
90.12            2
1741.95          2
4203.87          2
90015.42         2
30036.06         2
75093.21         2
             ...
106049.49        1
581522.28        1
900.30           1
277864.53        1
1860.03          1
76635.36         1
3726.06          1
3870.42          1
210316.32        1
118879.83        1
55555.56         1
76994.97         1
437533.44        1
18290.31         1
4501.74          1
344306.07        1
81108.45         1
390397.20        1
100536.18        1
390698.52        1
1125.06          1
32121.51         1
525682.05        1
9861.87          1
22454.19         1
9004.98          1
126092.22        1
525698.55        1
231267.30        1
288267.87        1
Name: saldo_medio_var12_ult1, Length: 3365, dtype: int64
0.00          72367
800000.01         4
187.89            2
2550.03           2
651.69            2
60.00             2
111859.98         2
213060.39         2
243129.33         2
84.87             2
232397.97         2
1741.95           2
2484.33           2
1644030.48        2
580.65            2
8.97              2
51007.71          2
45.03             2
1589.28           2
60000.00          2
1965.75           2
25.53             2
372606.00         2
2900.01           2
1424.40           2
307968.00         2
10451.61          2
2452.02           2
30000.00          2
234706.44         2
              ...
1906.41           1
85013.82          1
304498.56         1
9555.00           1
273760.47         1
11996.88          1
62678.82          1
18490.86          1
78127.62          1
45966.03          1
423580.29         1
166562.04         1
73982.19          1
8042.94           1
562351.11         1
46450.50          1
92262.36          1
39748.02          1
568.08            1
122350.26         1
44790.63          1
20793.87          1
3000.03           1
81886.20          1
14277.60          1
7851.00           1
9775.89           1
19548.03          1
5540.49           1
789.15            1
Name: saldo_medio_var12_ult3, Length: 3416, dtype: int64
0.00         72836
90000.00        73
150000.00       62
30000.00        56
120000.00       49
60000.00        48
300000.00       47
75000.00        37
18000.00        34
36000.00        34
180000.00       33
3000.00         31
45000.00        31
450000.00       29
300.00          28
270000.00       22
105000.00       20
24000.00        18
15000.00        17
54000.00        15
135000.00       15
240000.00       15
210000.00       14
12000.00        13
6000.00         13
33000.00        13
1500.00         12
21000.00        12
72000.00        11
9000.00         11
             ...
104002.59        1
183636.00        1
110322.60        1
147600.06        1
42167.01         1
54120.00         1
54018.00         1
108018.00        1
124200.00        1
9580.65          1
62103.00         1
29807.13         1
150150.00        1
19551.72         1
13000.02         1
183000.00        1
183003.00        1
366060.00        1
61049.04         1
17142.87         1
150300.00        1
44799.96         1
48214.32         1
15387.09         1
24827.58         1
37161.27         1
108003.00        1
27001.50         1
232258.08        1
4599.96          1
Name: saldo_medio_var13_corto_hace2, Length: 1681, dtype: int64
0.00         74517
2903.22         11
4838.70         10
9999.99         10
9677.43         10
2000.01          9
3000.00          9
6000.00          8
12000.00         8
8709.69          8
8000.01          7
33.33            7
24000.00         7
29032.26         7
999.99           6
122.22           6
9000.00          6
30000.00         6
3999.99          5
75000.00         5
24193.56         5
5806.44          5
9290.31          5
5555.55          5
17419.35         5
11612.91         5
99.99            4
1935.48          4
2799.99          4
10344.84         4
             ...
124500.00        1
3548.28          1
10799.97         1
1333.35          1
17459.19         1
106451.67        1
50000.01         1
29036.13         1
3710.01          1
9193.53          1
25600.02         1
17535.48         1
89600.01         1
58299.99         1
19354.80         1
888.90           1
3724.14          1
35000.04         1
25215.87         1
162580.65        1
7760.16          1
4200.03          1
27999.99         1
105999.99        1
31200.00         1
9290.43          1
32000.01         1
53182.38         1
360.00           1
133.35           1
Name: saldo_medio_var13_corto_hace3, Length: 938, dtype: int64
0.00         72596
90000.00       149
300000.00      121
60000.00       119
150000.00      119
30000.00       115
120000.00       95
45000.00        91
75000.00        77
180000.00       71
36000.00        66
18000.00        63
450000.00       62
15000.00        47
105000.00       45
3000.00         44
300.00          43
210000.00       37
135000.00       36
270000.00       31
72000.00        30
24000.00        30
240000.00       30
9000.00         29
54000.00        29
225000.00       26
6000.00         26
12000.00        21
195000.00       20
165000.00       19
             ...
30900.00         1
45390.00         1
61454.43         1
181500.00        1
45570.00         1
43200.00         1
171428.55        1
75300.21         1
150090.00        1
178908.09        1
150060.00        1
66774.18         1
300060.00        1
150015.00        1
75003.00         1
23000.01         1
299985.00        1
15103.77         1
7249.98          1
248226.00        1
194250.00        1
259830.00        1
66936.93         1
215400.00        1
399150.00        1
62040.00         1
106889.97        1
17612.94         1
5700.00          1
101612.91        1
Name: saldo_medio_var13_corto_ult1, Length: 976, dtype: int64
0.00         72596
150000.00        9
58064.52         8
14516.13         7
211.11           7
101612.91        7
120000.00        6
40645.17         6
240.75           6
60967.74         6
78000.00         6
168000.00        5
28000.02         5
68000.01         5
51290.34         5
230000.01        5
105000.00        5
75000.00         5
61250.01         5
132000.00        5
63000.00         5
42000.00         5
217741.95        5
69677.43         5
37741.95         5
13064.52         5
24387.09         5
203333.34        5
30000.00         5
12580.65         5
             ...
25862.07         1
3931.02          1
131666.70        1
216001.62        1
32000.01         1
127966.62        1
250887.12        1
4333.35          1
58400.01         1
3120.99          1
39262.35         1
131587.20        1
75193.56         1
41799.99         1
111666.66        1
55020.36         1
54375.00         1
197661.30        1
189999.99        1
127767.87        1
227419.35        1
14032.26         1
2068.95          1
174000.00        1
65033.40         1
124800.00        1
27322.59         1
157470.99        1
15483.87         1
7064.52          1
Name: saldo_medio_var13_corto_ult3, Length: 2581, dtype: int64
0.00          75293
75000.00         30
90000.00         24
150000.00        16
300000.00        15
30000.00         14
180000.00        12
120000.00        11
450000.00         9
60000.00          8
78000.00          8
15000.00          7
105000.00         6
18000.00          6
45000.00          5
84000.00          5
210000.00         4
108000.00         4
114000.00         4
39000.00          4
135000.00         4
27000.00          4
54000.00          4
29032.29          4
36000.00          4
225000.00         4
240000.00         3
37500.00          3
5806.44           3
138000.00         3
              ...
37500.03          1
76200.00          1
57870.99          1
99310.35          1
32000.01          1
93000.00          1
9000.00           1
108738.39         1
58064.49          1
2400.00           1
1008000.00        1
99000.00          1
63000.00          1
21774.21          1
13000.02          1
51513.87          1
75015.00          1
66774.18          1
62100.00          1
270000.00         1
231724.11         1

In [11]:
train = train.replace(-999999,2)

### Feature Engineering

In [16]:
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel
clf = ExtraTreesClassifier(random_state=0)
clf = clf.fit(X_train, y_train)
clf.feature_importances_  

model = SelectFromModel(clf, prefit=True)

In [17]:
X_train_opt = model.transform(X_train)
feature_idx_train = model.get_support()
feature_name_train = X_train.columns[feature_idx_train]
print(feature_name_train)

Index(['ID', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var41_comer_ult1',
       'imp_op_var41_comer_ult3', 'imp_op_var41_efect_ult3',
       'imp_op_var41_ult1', 'imp_op_var39_efect_ult3', 'imp_op_var39_ult1',
       'ind_var5', 'ind_var30', 'num_var4', 'num_var5', 'num_op_var41_hace2',
       'num_op_var41_ult1', 'num_op_var41_ult3', 'num_op_var39_hace2',
       'num_op_var39_ult1', 'num_op_var39_ult3', 'saldo_var5', 'saldo_var30',
       'saldo_var42', 'var36', 'imp_trans_var37_ult1', 'num_ent_var16_ult1',
       'num_var22_hace2', 'num_var22_hace3', 'num_var22_ult1',
       'num_var22_ult3', 'num_med_var22_ult3', 'num_med_var45_ult3',
       'num_meses_var5_ult3', 'num_meses_var39_vig_ult3',
       'num_op_var41_comer_ult3', 'num_op_var39_efect_ult3', 'num_var45_hace2',
       'num_var45_hace3', 'num_var45_ult1', 'num_var45_ult3',
       'saldo_medio_var5_hace2', 'saldo_medio_var5_hace3',
       'saldo_medio_var5_ult1', 'saldo_medio_var5_ult3', 'var38'],
      dtype='object')

### Prediction using XGBoost

In [18]:
X_train_updated=X_train[['var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var41_comer_ult1',
       'imp_op_var41_comer_ult3', 'imp_op_var41_efect_ult3',
       'imp_op_var41_ult1', 'imp_op_var39_efect_ult3', 'imp_op_var39_ult1',
       'ind_var5', 'ind_var30', 'num_var4', 'num_var5', 'num_op_var41_hace2',
       'num_op_var41_ult1', 'num_op_var41_ult3', 'num_op_var39_hace2',
       'num_op_var39_ult1', 'num_op_var39_ult3', 'saldo_var5', 'saldo_var30',
       'saldo_var42', 'var36', 'imp_trans_var37_ult1', 'num_ent_var16_ult1',
       'num_var22_hace2', 'num_var22_hace3', 'num_var22_ult1',
       'num_var22_ult3', 'num_med_var22_ult3', 'num_med_var45_ult3',
       'num_meses_var5_ult3', 'num_meses_var39_vig_ult3',
       'num_op_var41_comer_ult3', 'num_op_var39_efect_ult3', 'num_var45_hace2',
       'num_var45_hace3', 'num_var45_ult1', 'num_var45_ult3',
       'saldo_medio_var5_hace2', 'saldo_medio_var5_hace3',
       'saldo_medio_var5_ult1', 'saldo_medio_var5_ult3', 'var38']]

In [19]:
X_test=test[['var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var41_comer_ult1',
       'imp_op_var41_comer_ult3', 'imp_op_var41_efect_ult3',
       'imp_op_var41_ult1', 'imp_op_var39_efect_ult3', 'imp_op_var39_ult1',
       'ind_var5', 'ind_var30', 'num_var4', 'num_var5', 'num_op_var41_hace2',
       'num_op_var41_ult1', 'num_op_var41_ult3', 'num_op_var39_hace2',
       'num_op_var39_ult1', 'num_op_var39_ult3', 'saldo_var5', 'saldo_var30',
       'saldo_var42', 'var36', 'imp_trans_var37_ult1', 'num_ent_var16_ult1',
       'num_var22_hace2', 'num_var22_hace3', 'num_var22_ult1',
       'num_var22_ult3', 'num_med_var22_ult3', 'num_med_var45_ult3',
       'num_meses_var5_ult3', 'num_meses_var39_vig_ult3',
       'num_op_var41_comer_ult3', 'num_op_var39_efect_ult3', 'num_var45_hace2',
       'num_var45_hace3', 'num_var45_ult1', 'num_var45_ult3',
       'saldo_medio_var5_hace2', 'saldo_medio_var5_hace3',
       'saldo_medio_var5_ult1', 'saldo_medio_var5_ult3', 'var38']]

In [20]:
import xgboost as xgb

In [21]:
xgb=xgb.XGBClassifier()

In [22]:
xgb.fit(X_train_updated,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [24]:
pred=xgb.predict_proba(X_test)

In [26]:
submissions=pd.DataFrame(columns=['ID', 'TARGET'])
submissions['ID']=test['ID']
submissions['TARGET']=pred
submissions.to_csv('pucho.csv', index=False)

### Predicting using LightGBM

In [27]:
import lightgbm as lgb

In [28]:
lgb=lgb.LGBMClassifier()

In [29]:
lgb.fit(X_train_updated,y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
        learning_rate=0.1, max_depth=-1, min_child_samples=20,
        min_child_weight=0.001, min_split_gain=0.0, n_estimators=100,
        n_jobs=-1, num_leaves=31, objective=None, random_state=None,
        reg_alpha=0.0, reg_lambda=0.0, silent=True, subsample=1.0,
        subsample_for_bin=200000, subsample_freq=1)

In [33]:
pred2=lgb.predict_proba(X_test)

In [34]:
submissions=pd.DataFrame(columns=['ID', 'TARGET'])
submissions['ID']=test['ID']
submissions['TARGET']=pred
submissions.to_csv('pucho2.csv', index=False)